@model ProiectLicenta.Data.Models.Course

@{
    ViewBag.Title = "ActivateCourse";
}

<style>
    .form-horizontal {
        padding: 20px;
        border-radius: 5px;
        margin: auto;
    }

    .form-group {
        margin-bottom: 15px;
    }

    .btn-default {
        background-color: #007bff;
        color: #fff;
        border: none;
        transition: background-color 0.2s ease;
    }

        .btn-default:hover {
            background-color: #0056b3;
        }

    #h3 {
        margin-top: 40px;
        text-align: center;
    }

    #info-box {
        background: #f8f9fa;
        padding: 20px;
        margin-bottom: 25px;
        border-radius: 20px;
        width: 55%;
        text-align: left;
        padding-left: 30px;
        border: 1px solid #b4b4b4;
    }

    .btn {
        margin-right: 20px;
    }
</style>

<h3 id="h3">You are about to activate the following course:</h3>
<center>

    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal" }))
    {
        <div id="info-box">
            @Html.AntiForgeryToken()

            <div class="form-group">
                <b>Course Name: </b>
                @Html.DisplayFor(model => model.CourseName)
            </div>

            <div class="form-group">
                <b>Course Description: </b>
                @Html.DisplayFor(model => model.CourseDescription)
            </div>

            <div class="form-group">
                <b>Course Owner: </b>
                @Html.DisplayFor(model => model.Owner.Email)
            </div>

            <div class="form-group">
                <b>Deactivation Reason: </b>
                @Html.DisplayFor(model => model.DeactivationReason)
            </div>

            @Html.HiddenFor(model => model.CourseId)
            @Html.HiddenFor(model => model.OwnerId)
        </div>
        <div class="form-group">
            <input type="submit" value="Activate" class="btn btn-success" />
            @Html.ActionLink("Abort", "Index", null, new { @class = "btn btn-danger" })
        </div>
    }

</center>
