@model ProiectLicenta.Data.Models.Course

@{
    ViewBag.Title = "EnrollInCourse";
}

<h2>EnrollInCourse</h2>

<div>
    <h4>Do you with to enroll in the following course?</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CourseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourseDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseDescription)
        </dd>



        @using (Html.BeginForm("CancelEnrollment", "Course", new { courseId = Model.CourseId }))
        {
            <input type="submit" value="UnEnroll" />
        }

    </dl>
</div>
<p>
    @if (User.IsInRole("student") || User.IsInRole("helping_student"))
    {
        @Html.ActionLink("To Courses", "GetStudentEnrolledCourses", "Course")
    }
</p>
