@model ProiectLicenta.Data.Models.Course

@{
    ViewBag.Title = "Course Syllabus";
}

<style>

    body {
        font-family: Arial, sans-serif;
    }

    #info-box {
        background: #f8f9fa;
        padding: 20px;
        margin-bottom: 25px;
        border-radius: 10px;
        text-align: left;
        width: 900px;
        padding-left: 30px;
        border: 0.1rem solid #838383;
        padding-bottom: 20px;
    }

    #h3 {
        margin-top: 40px;
        text-align: center;
        margin-bottom:30px
    }
    .arrow::before {
        font-family: 'Glyphicons Halflings';
        content: "\e080";
        padding-right: 10px;
        cursor: pointer;
    }

    .down::before {
        content: "\e114";
    }

    .subchapter-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #f0f0f0;
        margin-top: 10px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin: 10px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .subchapter-title {
        text-transform: capitalize;
        margin-right: 10px;
    }

    .panel.panel-default {
        margin-bottom: 20px;
        border-color: #b6aaaa;
        margin-right: 20px;
        margin-left: 20px;
        border-radius: 10px;
    }
    .panel-heading {
        border-bottom: 1px groove #b6aaaa;
    }

    .panel-collapse {
        border-bottom-width: 20px;
    }

    .panel-default > .panel-heading {
        color: #333333;
        background-color: #f5f5f5;
        border-bottom: 1px groove #b6aaaa;
        border-radius:10px;
    }

    .title-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        text-transform: capitalize;
    }

    .btn-sm-custom {
        font-size: 0.875em;
        color: #007bff;
        border-color: #007bff;
        padding: 7px 12px;
    }

    .badge {
        padding: 7px 12px;
    }
</style>
<center>
<h2 id="h3">@Model.CourseName</h2>
</center>

<center>
    <div id="info-box">
        <center>
            <h3 style="margin-top:15px;margin-bottom: 30px;" id="h3">Table of Contents</h3>
        </center>

        <div class="panel-group" id="accordion">
            @foreach (var chapter in Model.Chapters)
            {
                int subChapterCount = chapter.Subchapters.Count();

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="title-row">
                            <h4 class="panel-title">
                                <span class="arrow" data-toggle="collapse" data-target="#collapseChapter@(chapter.ChapterId)" aria-expanded="false"></span>
                                @Html.DisplayFor(model => chapter.ChapterTitle)
                            </h4>
                            <span class="badge badge-secondary">@subChapterCount Subchapters</span>
                        </div>
                    </div>



                    <div id="collapseChapter@(chapter.ChapterId)" class="panel-collapse collapse">
                        @foreach (var subchapter in chapter.Subchapters)
                        {
                            <div class="subchapter-box">
                                <span class="subchapter-title">@Html.DisplayFor(model => subchapter.SubchapterTitle)</span>
                                @if (User.Identity.IsAuthenticated && !User.IsInRole("professor") && (string)ViewData["isEnrolled"] == "true")
                                {
                                    @Html.ActionLink(">> More", "ViewSubchapter", "SubChapter", new { subchapterId = subchapter.SubchapterId }, new { @class = "btn btn-info btn-sm" })
                                }
                            </div>
                        }
                    </div>

                </div>
            }
        </div>

        <center>
            @if (User.IsInRole("student") || User.IsInRole("helping_student"))
            {
                @Html.ActionLink("To Courses", "GetStudentEnrolledCourses", "Course", new { @class = "btn btn-primary" })
            }
            @if (User.IsInRole("professor"))
            {
                @Html.ActionLink("Back to Requests", "SeeHelpingStudentApplicationsForProfessor", "Users", null,new { @class = "btn btn-primary" })
            }
        </center>
    </div>
    </center>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
        $('.arrow').click(function () {A
            $(this).toggleClass('down');
        });
        $('.panel-collapse').on('show.bs.collapse', function () {
            $(this).prev().find('.arrow').addClass('down');
        }).on('hide.bs.collapse', function () {
            $(this).prev().find('.arrow').removeClass('down');
        });
    });
</script>
