@model ProiectLicenta.Data.Models.Course

@{
    ViewBag.Title = "DeactivateCourse";
}

<style>
    .form-horizontal {
        padding: 20px;
        border-radius: 5px;
        margin: auto;
    }

    .form-group {
        margin-bottom: 15px;
    }

    .btn-default {
        background-color: #007bff;
        color: #fff;
        border: none;
        transition: background-color 0.2s ease;
    }

        .btn-default:hover {
            background-color: #0056b3;
        }

    #h3 {
        margin-top: 40px;
        text-align: center;
        margin-bottom: 10px;
    }

    #info-box {
        background: #f8f9fa;
        padding: 20px;
        margin-bottom: 25px;
        border-radius: 10px;
        width: 55%;
        text-align: left;
        padding-left: 30px;
        border: 1px solid #b4b4b4;
        padding-bottom: 5px;
    }

    .btn {
        margin-right: 20px;
    }

    #button-line {
        width: auto;
        border-bottom: 1px groove #b4b4b4;
        width: 604px;
        margin-left: -31px;
        margin-bottom: 10px;
    }
</style>

<h2 id="h3">Deactivate Course</h2>
<center>

    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal" }))
    {
        <div id="info-box">
            @Html.AntiForgeryToken()

            <div class="form-group">
                <b>Course Name: </b>
                @Html.DisplayFor(model => model.CourseName)
            </div>

            <div class="form-group">
                <b>Course Description: </b>
                @Html.DisplayFor(model => model.CourseDescription)
            </div>

            <div class="form-group">
                <b>Course Owner: </b>
                @Html.DisplayFor(model => model.Owner.Email)
            </div>
            <div id="button-line">
                </div>
            <div>
                <div class="form-group">
                    @Html.LabelFor(model => model.DeactivationReason)<b>:</b>
                    @Html.EditorFor(model => model.DeactivationReason, new { htmlAttributes = new { @class = "form-control reason-text-box" } })
                    @Html.ValidationMessageFor(model => model.DeactivationReason, "", new { @class = "text-danger" })
                </div>


                @Html.HiddenFor(model => model.CourseId)
                @Html.HiddenFor(model => model.OwnerId)
                @Html.HiddenFor(model => model.Active)
                @Html.HiddenFor(model => model.CourseName)
                @Html.HiddenFor(model => model.CourseDescription)
                <center>
                    <div class="form-group">
                        <input type="submit" value="Deactivate Course" class="btn btn-success" />
                        @Html.ActionLink("Abort", "Index", null, new { @class = "btn btn-danger" })
                    </div>
                </center>

            </div>
        </div>

    }

</center>
