@model ProiectLicenta.Data.Models.Course

<style>
    .dl-horizontal {
        text-align: left;
    }

    .card {
        background: #f8f9fa;
        border-radius: 5px;
        padding: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        height: 460px;
        width: 400px;
        border-radius: 10px;
        border: 2px solid #838383;
    }

    .card-text {
        margin-bottom: 18px;
    }
    .card-desc{
        border:none;
    }



    .card-img-top {
        width: 320px;
        height: 200px;
        border-radius: 10px;
        border: 2px solid #000000;
        object-fit: cover;
        margin-bottom: 8px;
        object-fit: cover;
        margin-bottom: 23px;
        margin-top: 25px;
    }

    .card-title {
        font-weight: bold;
        height: 30px;
        max-width: 300px;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-top: 0px;
        margin-bottom: 15px;
        font-size: x-large;
    }

    .btn-danger {
        margin-right: 30px;
    }

    #card-desc {
        height: 60px;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: justify;
        border:none;
    }

    #chaptersB {
        margin-right: 10px;
    }

    #reviewsB {
        margin-right: 10px;
    }

    #ceva {
        margin-bottom: 10px;
    }

    #button-space {
        margin-bottom: 25px;
    }

    #h3 {
        margin-top: 40px;
        text-align: center;
        margin-bottom: 10px;
    }

    .btn {
        margin-bottom: 10px
    }

    #currentActive {
        margin-bottom: 15px;
    }

    #button-line {
        width: auto;
        border-top: 1px groove #838383;
        width: 398px;
        margin-left: -21px;
        border-bottom: none;
        margin-bottom: 0px;
    }

    #title-line {
        width: 398px;
    }
</style>

@{
    ViewBag.Title = "Delete";
}

<div>
    <center>
        <h2 id="h3">Delete Course</h2>
    </center>
    <div class="container">
        <div class="row">

            <center>

                <div class="card">
                    <center id="title-line">
                        <h5 class="card-title">@Html.DisplayFor(modelModel => Model.CourseName)</h5>
                    </center>
                    @if (Model.ImagePath != null)
                    {
                        <img src="@Url.Content(Model.ImagePath)" class="card-img-top" alt="Course Image">
                    }
                    else
                    {
                        <img src="~/Content/images/proiectLicentaPhoto.jpg" class="card-img-top" alt="Course Image"> <text>Image</text>
                    }
                    <div class="card-body flex-container">
                        <p class="card-text" id="card-desc" style="padding-left: 26px;padding-right: 15px;">@Html.DisplayFor(modelModel => Model.CourseDescription)</p>

                        <div class="text-center">

                            <div id="button-line"></div>
                            <div id="ceva">
                                @using (Html.BeginForm())
                                {
                                    @Html.AntiForgeryToken()

                                    <div class="form-actions no-color" style="margin-top: 15px;">
                                        <input type="submit" value="Delete" class="btn btn-danger" />
                                        @Html.ActionLink("Abort", "GetUserCourses", "Course", null, new { @class = "btn btn-primary" })
                                    </div>
                                }

                            </div>
                        </div>
                    </div>
                    <center>



                    </center>
                </div>
            </center>
        </div>
    </div>

</div>



