@model ProiectLicenta.Data.Models.Course

@{
    ViewBag.Title = "Details";
}

<h2 class="text-left text-primary">Details</h2>

<style>
    .form-horizontal {
        background: #f8f9fa;
        padding: 20px;
        border-radius: 5px;
        margin: auto;
        text-align:left;
    }


    .btn-default {
        background-color: #007bff;
        color: #fff;
        border: none;
        transition: background-color 0.2s ease;
    }

    .btn-default:hover {
        background-color: #0056b3;
    }

    dd {
        text-align: left;
        padding-top: 7px;
    }

    .back-link {
        margin-top: 20px;
        text-align: left;
    }

    dt {
        text-align: left;
        font-weight: bold;
        padding-top: 7px;
    }
</style>

<div class="form-horizontal">
    <h4>Course</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            <p>Image:</p>
        </dt>

        <dd>
            @if (Model.ImagePath != null)
            {
                <img src="@Url.Content(Model.ImagePath)" class="card-img-top" alt="Course Image">
            }
            else
            {
                <img src="~/Content/images/proiectLicentaPhoto.jpg" class="card-img-top" alt="Course Image">
                <text>Image</text>
            }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CourseName):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourseDescription):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseDescription)
        </dd>

        

    </dl>
</div>

<p class="back-link">
    @Html.ActionLink("Edit", "Edit", new { id = Model.CourseId }, new { @class = "btn btn-default" }) |
    @Html.ActionLink("Courses", "GetUserCourses", "Course", null, new { @class = "btn btn-link" })
</p>
