@model ProiectLicenta.Data.Models.Course

@{
    ViewBag.Title = "Edit Course";
}

<style>
    .form-horizontal {
        padding: 20px;
        border-radius: 5px;
        margin: auto;
    }

    .form-group {
        margin-bottom: 15px;
    }

    .form-control.text-area {
        width: 300px;
        height: 100px;
        max-height: 120px;
        max-width: 300px;
        white-space: pre-wrap;
        overflow-wrap: break-word;
    }

    .btn-default {
        background-color: #007bff;
        color: #fff;
        border: none;
        transition: background-color 0.2s ease;
    }

        .btn-default:hover {
            background-color: #0056b3;
        }

    #h3 {
        margin-top: 40px;
        text-align: center;
    }

    #info-box {
        background: #f8f9fa;
        padding: 20px;
        padding-bottom: 0px;
        margin-bottom: 25px;
        border-radius: 10px;
        width: 55%;
        text-align: left;
        padding-left: 30px;
        border: 2px solid #838383;
    }

    .btn {
        margin-right: 20px;
    }

    #button-line {
        border-bottom: 1px groove #838383;
        width: 603px;
        margin-left: -30px;
    }

</style>

<h2 id="h3">Edit Course Info</h2>
<center>
    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal" }))
    {
        <div id="info-box">
            @Html.AntiForgeryToken()

            @Html.HiddenFor(model => model.CourseId)
            @Html.HiddenFor(model => model.Active)
            @Html.HiddenFor(model => model.ImagePath)

            <div class="form-group" style="margin-left: 0px; margin-right: 0px;">
                <b>Course Name: </b>
                @Html.EditorFor(model => model.CourseName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CourseName, "", new { @class = "text-danger" })
            </div>

            <div class="form-group" style="margin-left: 0px; margin-right: 0px;">
                <b>Course Description: </b>
                @Html.EditorFor(model => model.CourseDescription, new { htmlAttributes = new { @class = "form-control text-area" } })
                @Html.ValidationMessageFor(model => model.CourseDescription, "", new { @class = "text-danger" })
            </div>

            <div id="button-line"></div>

            <center>
                <div class="form-group" style="margin-top: 15px;">
                    <input type="submit" value="Save Changes" class="btn btn-success" />
                    @Html.ActionLink("Abort", "GetUserCourses", null, new { @class = "btn btn-danger" })
                </div>
            </center>
            @Html.HiddenFor(model => model.OwnerId)
        </div>

    }
</center>
