@model IEnumerable<ProiectLicenta.Data.Models.Course>

@{
    ViewBag.Title = "Index";
}

<style>


    #ceva {
        margin-bottom: 10px;
    }

    #chaptersb {
        margin-bottom: 0px;

    }

    #buttons {
        margin-bottom: 10px;
        margin-left: -22px;
        text-overflow: ellipsis;
        text-align: justify;
        border-top: 1px solid #838383;
        padding-bottom: 20px;
        margin-bottom: 17px;
        margin-right: -22px;
    }

    #button-space{
        margin-bottom: 25px;
    }

    #h3 {
        margin-top: 40px;
        text-align: center;
    }

    .card-body{

    }
    #span-style {
        display:inline-block;
        width: 330px; 
        text-overflow: ellipsis;
        white-space: nowrap; 
        overflow: hidden;
    }


</style>



<h1 id="h3">Inactive Course List</h1>



<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {

            <div class="col-md-4 mb-4">
                <div style="height: 570px;" class="card">
                    <center id="title-line">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.CourseName)</h5>
                    </center>
                    @if (item.ImagePath != null)
                    {
                        <img src="@Url.Content(item.ImagePath)" class="card-img-top" alt="Course Image">
                    }
                    else
                    {
                        <img src="~/Content/images/proiectLicentaPhoto.jpg" class="card-img-top" alt="Course Image"> <text>Image</text>
                    }
                    <div class="card-body flex-container">

                        <p class="card-text" id="card-desc">@Html.DisplayFor(modelItem => item.CourseDescription)</p>
                        <p style=" margin-bottom: 10px;" class="card-text">
                            @if (item.IssueResolved)
                            {
                                <b style="margin-bottom:4px;">The user requests a review of the deactivation.</b>
                            }
                            else
                            {
                                <b>No pending deactivation reevaluation.</b>
                            }
                            <br>
                            <span id="span-style"><b>Reason: </b>@Html.DisplayFor(modelItem => item.DeactivationReason)</span>
                            <div class="text-center">
                                <div id="ceva">

                                    @if (User.IsInRole("admin"))
                                    {
                                        if (item.IssueResolved)
                                        {
                                            @Html.ActionLink("Activate Course", "ActivateCourse", new { id = item.CourseId }, new { @class = "btn btn-success", @id = "chaptersB", @style = " margin-bottom:5px " })
                                        }
                                        else
                                        {
                                            @Html.ActionLink("Activate Course", "ActivateCourse", new { id = item.CourseId }, new { @class = "btn btn-primary", @id = "chaptersB", @style = " margin-bottom:5px; background-color: #3c4349; border-color: #3f484f;" })

                                        }
                                    }
                                    @if (item.IssueResolved)
                                    {
                                        @Html.ActionLink("Reject Activation", "RejectActivation", new { courseId = item.CourseId }, new { @class = "btn btn-danger", @id = "chaptersB", @style = " margin-bottom:5px " })
                                    }
                                </div>
                            </div>
                        </p>



                        <p style=" margin-bottom: 10px;" class="card-text">
                            
                            <div class="text-center">
                                <div id="buttons">
                                    <center>
                                        @Html.ActionLink("Chapters", "Index", "Chapter", new { courseId = item.CourseId }, new { @class = "btn btn-info", @id = "chaptersB", @style = " margin-top:15px " })
                                        @Html.ActionLink("Show Reviews", "Index", "CourseReview", new { courseId = item.CourseId }, new { @class = "btn btn-info", @id = "chaptersB", @style = " margin-top:15px " })
                                    </center>
                                        </div>

                            </div>
                                
                        </p>
                    </div>
                </div>
            </div>

        }
    </div>
</div>