@model IEnumerable<ProiectLicenta.Data.Models.Course>

@{
    ViewBag.Title = "Index";
}

<style>

    .card {
        background: #f8f9fa;
        border-radius: 10px;
        padding: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        height: 460px;
        width: auto;
    }

    .card-img-top {
        width: 320px;
        height: 200px;
    }

    .card-title {
        font-weight: bold;
    }
</style>



<h1 id="h3">Archive</h1>



<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {


            <div class="col-md-4 mb-4">
                <div class="card">
                    <center id="title-line">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.CourseName)</h5>
                    </center>
                    @if (item.ImagePath != null)
                    {
                        <img src="@Url.Content(item.ImagePath)" class="card-img-top" alt="Course Image">
                    }
                    else
                    {
                        <img src="~/Content/images/proiectLicentaPhoto.jpg" class="card-img-top" alt="Course Image"> <text>Image</text>
                    }
                    <div class="card-body flex-container">
                        <p class="card-text" id="card-desc">@Html.DisplayFor(modelItem => item.CourseDescription)</p>

                        <div class="text-center">
                            <div id="ceva">
                                @Html.ActionLink("Syllabus", "CourseSyllabus", "Course", new { courseId = item.CourseId }, new { @class = "btn btn-info" })
                                @Html.ActionLink("Show Reviews", "Index", "CourseReview", new { courseId = item.CourseId }, new { @class = "btn btn-info" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        }
    </div>
</div>