@model IEnumerable<ProiectLicenta.Data.Models.Course>

@{
    ViewBag.Title = "Index";
}



<h1 id="h3">Your Courses</h1>

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <center id="title-line">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.CourseName)</h5>
                    </center>
                    @if (item.ImagePath != null)
                    {
                        <img src="@Url.Content(item.ImagePath)" class="card-img-top" alt="Course Image">
                    }
                    else
                    {
                        <img src="~/Content/images/proiectLicentaPhoto.jpg" class="card-img-top" alt="Course Image"> <text>Image</text>
                    }
                    <div class="card-body flex-container">
                        <p class="card-text" id="card-desc">@Html.DisplayFor(modelItem => item.CourseDescription)</p>

                        <div class="text-center">
                            <div id="ceva">
                                @Html.ActionLink("Chapters", "Index", "Chapter", new { courseId = item.CourseId }, new { @class = "btn btn-info", @id = "chaptersB" })
                                @Html.ActionLink("Show Reviews", "Index", "CourseReview", new { courseId = item.CourseId }, new { @class = "btn btn-info", @id = "chaptersB" })
                                @if (User.IsInRole("admin"))
                                {
                                    @Html.ActionLink("Activate Course", "ActivateCourse", new { id = item.CourseId }, new { @class = "btn btn-success", @id = "chaptersB" })
                                    @Html.ActionLink("Deactivate Course", "DeactivateCourse", new { id = item.CourseId }, new { @class = "btn btn-danger", @id = "chaptersB" })
                                }
                                @if (User.Identity.IsAuthenticated && item.Active == true && (item.OwnerId == (string)ViewData["userId"]))
                                {
                                    <br>
                                    @Html.ActionLink("Update Photo", "UpdateCoursePhoto", new { courseId = item.CourseId }, new { @class = "btn btn-primary", @id = "chaptersB" })
                                    @Html.ActionLink("Edit", "Edit", new { id = item.CourseId }, new { @class = "btn btn-primary", @id = "chaptersB" })
                                    @Html.ActionLink("Delete", "Delete", new { id = item.CourseId }, new { @class = "btn btn-danger", @id = "chaptersB" })


                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
