@model IEnumerable<ProiectLicenta.Data.Models.Course>

@{
    ViewBag.Title = "Index";
}

<style>
    .card {
        background: #f8f9fa;
        border-radius: 20px;
        padding: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        height: 440px;
        width: auto;
        border: 1px solid #b4b4b4;
    }

    .card-img-top {
        width: 320px;
        height: 200px;
        border-radius: 15px;
        border: 2px solid #000000;
    }

    .card-title {
        font-weight: bold;
        font-size: 18px;
        height: 18px;
        max-width: 300px;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .card-text {
        height: 60px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    #chaptersB {
        margin-right: 5px;
    }

    #reviewsB {
        margin-right: 5px;
    }

    #ceva {
        margin-top: 10px;
    }

    #h3 {
        margin-top: 40px;
        text-align: center;
    }

</style>
<div>
    <h1 id="h3">Courses</h1>
</div>
@if (User.Identity.IsAuthenticated && (User.IsInRole("professor")))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    @if (item.ImagePath != null)
                    {
                        <img src="@Url.Content(item.ImagePath)" class="card-img-top" alt="Course Image">
                    }
                    else
                    {
                        <img src="~/Content/images/proiectLicentaPhoto.jpg" class="card-img-top" alt="Course Image">
                    }
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.CourseName)</h5>
                        <p class="card-text">@Html.DisplayFor(modelItem => item.CourseDescription)</p>
                        <div class="text-center">
                            @Html.ActionLink("Chapters", "Index", "Chapter", new { courseId = item.CourseId }, new { @class = "btn btn-info", @id = "chaptersB" })
                            @Html.ActionLink("Show Reviews", "Index", "CourseReview", new { courseId = item.CourseId }, new { @class = "btn btn-info", @id = "reviewB" })
                            <div id="ceva">
                                @if (User.IsInRole("admin"))
                                {
                                    @Html.ActionLink("Deactivate Course", "DeactivateCourse", new { id = item.CourseId }, new { @class = "btn btn-danger" })
                                }

                                @if (!User.Identity.IsAuthenticated)
                                {
                                    @Html.ActionLink("Syllabus", "CourseSyllabus", "Course", new { courseId = item.CourseId }, new { @class = "btn btn-info" })
                                }
                                @if ((User.Identity.IsAuthenticated && item.Active == true && (item.OwnerId == (string)ViewData["userId"])))
                                {
                                    @Html.ActionLink("Edit", "Edit", new { id = item.CourseId }, new { @class = "btn btn-primary" })
                                    @Html.ActionLink("Details", "Details", new { id = item.CourseId }, new { @class = "btn btn-primary" })
                                    @Html.ActionLink("Delete", "Delete", new { id = item.CourseId }, new { @class = "btn btn-danger" })
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
