@model IEnumerable<ProiectLicenta.Data.Models.Course>

@{
    ViewBag.Title = "Index";
}

<style>
    .card-text{
        margin-bottom:10px;
    }
</style>
<div>
    <h1 id="h3">Courses</h1>
</div>
@if (User.Identity.IsAuthenticated && (User.IsInRole("professor")))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <center id="title-line">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.CourseName)</h5>
                    </center>
                    @if (item.ImagePath != null)
                    {
                        <img src="@Url.Content(item.ImagePath)" class="card-img-top" alt="Course Image">
                    }
                    else
                    {
                        <img src="~/Content/images/proiectLicentaPhoto.jpg" class="card-img-top" alt="Course Image">
                    }
                    <div class="card-body flex-container">

                        <p class="card-text" id="card-desc">@Html.DisplayFor(modelItem => item.CourseDescription)</p>
                        <div class="text-center">
                            @Html.ActionLink("Chapters", "Index", "Chapter", new { courseId = item.CourseId }, new { @class = "btn btn-info", @id = "chaptersB" })
                            @Html.ActionLink("Show Reviews", "Index", "CourseReview", new { courseId = item.CourseId }, new { @class = "btn btn-info", @id = "chaptersB", @style = "margin-right:0px;" })
                            <div id="ceva">
                                @if (User.IsInRole("admin"))
                                {
                                    @Html.ActionLink("Deactivate Course", "DeactivateCourse", new { id = item.CourseId }, new { @class = "btn btn-danger", @id = "chaptersB", @style = "margin-right:0px;" })
                                }

                                @if (!User.Identity.IsAuthenticated)
                                {
                                    @Html.ActionLink("Syllabus", "CourseSyllabus", "Course", new { courseId = item.CourseId }, new { @class = "btn btn-info", @id = "chaptersB" })
                                }
                                @if ((User.Identity.IsAuthenticated && item.Active == true && (item.OwnerId == (string)ViewData["userId"])))
                                {
                                    @Html.ActionLink("Edit", "Edit", new { id = item.CourseId }, new { @class = "btn btn-primary", @id = "chaptersB" })
                                    @Html.ActionLink("Details", "Details", new { id = item.CourseId }, new { @class = "btn btn-primary", @id = "chaptersB" })
                                    @Html.ActionLink("Delete", "Delete", new { id = item.CourseId }, new { @class = "btn btn-danger", @id = "chaptersB" })
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
