@model ProiectLicenta.Data.Models.Course

@{
    ViewBag.Title = "Update Course Photo";
}

<style>
    .form-horizontal {
        padding: 20px;
        border-radius: 5px;
        margin: auto;
    }

    .form-group {
        margin-bottom: 15px;
        padding-left: 23px;
        padding-right: 23px;
    }

    .btn-default {
        background-color: #007bff;
        color: #fff;
        border: none;
        transition: background-color 0.2s ease;
    }

        .btn-default:hover {
            background-color: #0056b3;
        }

    #h3 {
        margin-top: 40px;
        text-align: center;
    }

    #info-box {
        background: #f8f9fa;
        padding: 20px;
        margin-bottom: 25px;
        border-radius: 20px;
        width: 55%;
        text-align: left;
        padding-left: 30px;
        border: 1px solid #b4b4b4;
    }

    .btn {
        margin-right: 20px;
    }

    .card-img-top {
        border-radius: 15px;
        border: 2px solid #000000;
        object-fit: cover;
        margin-top: 15px;
        margin-top: 5px;
    }
</style>


<h3 id="h3">You are about to update the photo for the following course:</h3>
<center>

    @using (Html.BeginForm("UpdateCoursePhoto", "Course", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
    {
        <div id="info-box">
            @Html.AntiForgeryToken()
            <center>
                <div class="form-group">

                    @if (Model.ImagePath != null)
                    {
                        <img src="@Url.Content(Model.ImagePath)" class="card-img-top" alt="Course Image" width="440" height="260">
                    }
                    else
                    {
                        <img src="~/Content/images/proiectLicentaPhoto.jpg" class="card-img-top" alt="Course Image" width="440" height="460"> <text>Image</text>
                    }
                    <br>

                </div>
            </center>

            <div class="form-group">
                <b>Choose the new image: </b>
                <input type="file" name="file" id="file" />
            </div>

            <div class="form-group">

                <b>Course Name: </b>
                @Html.DisplayFor(model => model.CourseName)
            </div>

            <div class="form-group">
                <b>Course Description: </b>
                @Html.DisplayFor(model => model.CourseDescription)
            </div>

            @Html.HiddenFor(model => model.CourseId)


        </div>
        <div class="form-group">
            <input type="submit" value="Upload Image" class="btn btn-success" />
            @Html.ActionLink("Abort", "GetUserCourses", null, new { @class = "btn btn-danger" })
        </div>
    }
</center>
