@model ProiectLicenta.Data.Models.Course

@{
    ViewBag.Title = "Update Course Photo";
}

<style>
    .form-horizontal {
        padding: 20px;
        border-radius: 5px;
        margin: auto;
    }

    .form-group {
        margin-bottom: 15px;
        padding-right: 0px;
    }

    .btn-default {
        background-color: #007bff;
        color: #fff;
        border: none;
        transition: background-color 0.2s ease;
    }

        .btn-default:hover {
            background-color: #0056b3;
        }

    #h3 {
        margin-top: 40px;
        text-align: center;
    }

    .card {
        background: #f8f9fa;
        border-radius: 5px;
        padding: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        height: 500px;
        width: auto;
        border-radius: 10px;
        border: 2px solid #838383;
        padding-top: 15px;
    }

    #info-box {
        background: #f8f9fa;
        padding: 20px;
        margin-bottom: 25px;
        border-radius: 10px;
        width: 380px;
        text-align: left;
        padding-left: 20px;
        border: 2px solid #838383;
    }

    .btn {
        margin-right: 20px;
    }

    .card-img-top {
        border-radius: 15px;
        border: 2px solid #000000;
        object-fit: cover;
        margin-top: 15px;
        margin-top: 5px;
    }
    #title-line {
        border-bottom: 2px solid #838383;
        width: 379px;
        margin-left: -21px;
    }

    #card-desc{
        border:none;
    }

    #button-line {
        width: 378px;
        border-top: 1px groove #b4b4b4;
        border-bottom: none;
        margin-bottom: 0px;
    }
</style>


<h3 id="h3">Change Course Photo:</h3>
<center>

    @using (Html.BeginForm("UpdateCoursePhoto", "Course", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
    {

        

        <div id="info-box">
            @Html.AntiForgeryToken()
            <center id="title-line">
                <h5 class="card-title">@Html.DisplayFor(modelItem => Model.CourseName)</h5>
            </center>
            <center>
                <div class="form-group" style="margin-top: 15px;margin-right: 0px;margin-right:0px;margin-left: 0px;padding-left: 0px;">

                    @if (Model.ImagePath != null)
                    {
                        <img src="@Url.Content(Model.ImagePath)" class="card-img-top" alt="Course Image" width="440" height="260">
                    }
                    else
                    {
                        <img src="~/Content/images/proiectLicentaPhoto.jpg" class="card-img-top" alt="Course Image" width="440" height="460"> <text>Image</text>
                    }
                    <br>

                </div>
            </center>

            <div class="card-body flex-container">
                <p class="card-text" id="card-desc">@Html.DisplayFor(modelItem => Model.CourseDescription)</p>
            </div>

            <div id="button-line">
                <div class="form-group" style=" margin-left: 15px;margin-right: 0px; padding-left: 5px; margin-top: 20px">
                    <b>Choose a new image: </b>
                    <input type="file" name="file" id="file" />
                </div>

                <center>
                    <div class="form-group">
                        <input type="submit" value="Upload Image" class="btn btn-success" />
                        @Html.ActionLink("Abort", "GetUserCourses", null, new { @class = "btn btn-danger", @style = "margin-right: 0px;" })
                    </div>
                </center>
            </div>
        </div>

            @Html.HiddenFor(model => model.CourseId)

       
    }
</center>


