@model IEnumerable<ProiectLicenta.Data.Models.Question>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Question Index";
}

<style>
    body {
        background-color: #f8f9fa;
    }

    #title {
        margin-top: 40px;
        text-align: center;
        margin-bottom: 20px;
    }

    .table {
        background-color: #dedede;
        border-radius: 10px;
        padding-left: 0px;
        overflow: hidden;
        border: 0.2rem thin #b4b4b4;
        margin-top: 0px;
    }

        .table thead th {
            background-color: #4D4C4C;
            color: #fff;
        }


    .btn-group .btn {
        margin: 10px;
    }

    .form-button {
        display: inline-block;
        margin-right: 10px;
    }

    .btn {
        margin-right: 15px;
    }

    #chapterTitle {
        padding-left: 15px;
    }

    .form-horizontal {
        padding: 20px;
        border-radius: 5px;
        margin: auto;
    }

    .form-group {
        margin-bottom: 15px;
    }

    .btn-default {
        background-color: #007bff;
        color: #fff;
        border: none;
        transition: background-color 0.2s ease;
    }

        .btn-default:hover {
            background-color: #0056b3;
        }

    #h3 {
        margin-top: 40px;
        text-align: center;
        margin-bottom: 30px;
    }

    #info-box {
        background: #dedede;
        padding: 20px;
        margin-bottom: 25px;
        border-radius: 10px;
        text-align: left;
        padding-left: 0px;
        padding-right: 0px;
        margin-top: 0px;
        padding-top: 0px;
        width: 900px;
    }

    .btn {
        margin-right: 15px;
    }

    #danger {
        width: 83.719px;
    }

    #button-line {
        width: auto;
        width: 899px;
        margin-left: 0px;
        margin-bottom: 20px;
        border-top: none;
        border-bottom: 0.1rem groove #b4b4b4;
    }
</style>

<h1 id="h3" style="margin-bottom:30px">Questions</h1>

@if (Model != null && Model.ToList().Count > 0)
{
    <center>
        <div id="info-box" style="border: 0.1rem groove #b4b4b4;">
            <center>
                <div class="table-responsive">
                    <table class="table table-hover" style="margin-bottom: 0px;">
                        <thead class="thead-dark">
                            <tr id="username">
                                <th style="padding-left:20px;" id="questionContent">@Html.DisplayNameFor(model => model.QuestionString)</th>
                                <th style="width:30%;">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr style="border-top: 0.2rem groove;" id="username">
                                    <td style="padding-left:20px;" id="questionContent">@Html.DisplayFor(modelItem => item.QuestionString)</td>

                                    <td>

                                        @if (item.test.SubChapter.Chapter.Course.OwnerId == (string)ViewData["userId"])
                                        {
                                            @Html.ActionLink("Edit", "Edit", new { questionId = item.QuestionId }, new { @class = "btn btn-primary" })
                                            @Html.ActionLink("Delete", "Delete", new { questionId = item.QuestionId }, new { @class = "btn btn-danger" })
                                        }

                                        @Html.ActionLink("Answers", "Index", "Answer", new { questionId = item.QuestionId }, new { @class = "btn btn-info" })

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </center>
            <div id="button-line"></div>
            <center>
                @if (User.IsInRole("professor"))
                {
                    @Html.ActionLink("Add a new Question", "Create", new { testId = ViewData["testId"] }, new { @class = "btn btn-primary" })

                }
                @Html.ActionLink("Back to Test", "Index", "Test", new { subChapterId = (int)ViewData["subchapterId"] }, new { @class = "btn btn-info" })
            </center>
        </div>
    </center>
}
else
{
    <center>
        <div id="info-box" style="border: 0.1rem groove #b4b4b4;padding-top: 0px;">
            <center><h3 style="margin-top: 15px; padding-top: 5px; margin-bottom: 20px;">No questions.</h3></center>
            <center>
                @if (User.IsInRole("professor"))
                {
                    @Html.ActionLink("Add a new Question", "Create", new { testId = ViewData["testId"] }, new { @class = "btn btn-primary",@style = "margin-bottom: 15px;"})

                }

                    @Html.ActionLink("Back to Test", "Index", "Test", new { subChapterId = (int)ViewData["subchapterId"] }, new { @class = "btn btn-info", @style = "margin-bottom: 15px;" })
            </center>
        </div>
    </center>
}
