@model Proiect_Licenta.Models.ForgotPasswordViewModel

@{
    ViewBag.Title = "Forgot your password?";
}

<style>
    .form-horizontal {
        padding: 20px;
        border-radius: 5px;
        margin: auto;
    }

    .form-group {
        margin-bottom: 15px;
    }

    .btn-default {
        background-color: #007bff;
        color: #fff;
        border: none;
        transition: background-color 0.2s ease;
    }

        .btn-default:hover {
            background-color: #0056b3;
        }

    #h3 {
        margin-top: 40px;
        text-align: center;
    }

    #info-box {
        background: #f8f9fa;
        padding: 20px;
        margin-bottom: 25px;
        border-radius: 10px;
        width: 55%;
        text-align: left;
        padding-left: 30px;
        border: 0.1rem solid #838383;
        padding-bottom: 0px;
    }

    .btn {
        margin-right: 20px;
    }

    #button-line {
        width: auto;
        width: 604px;
        margin-left: -30px;
        margin-bottom: 20px;
        border-top: none;
        border-bottom: 0.1rem groove #b4b4b4;
        margin-top: 0px;
        padding-top: 10px;
        margin-bottom: 15px;
    }
</style>

<h2 id="h3">@ViewBag.Title</h2>

<center>
    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <div id="info-box">
            @Html.AntiForgeryToken()


            <div class="form-group" style="margin-left: 0px;margin-right: 0px;">
                <b>Email: </b>
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>

            <div id="button-line"></div>

            <center>
                <div class="form-group">
                    <input type="submit" value="Email Link" class="btn btn-default" />
                </div>
            </center>
        </div>

    }
</center>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
