@model ProiectLicenta.Data.Models.Answer

@{
    ViewBag.Title = "Delete";
}

<style>
    .form-horizontal {
        padding: 20px;
        border-radius: 5px;
        margin: auto;
    }

    .form-group {
        margin-bottom: 15px;
    }

    .btn-default {
        background-color: #007bff;
        color: #fff;
        border: none;
        transition: background-color 0.2s ease;
    }

        .btn-default:hover {
            background-color: #0056b3;
        }

    #h3 {
        margin-top: 40px;
        text-align: center;
        margin-bottom: 30px;
    }

    #info-box {
        background: #f8f9fa;
        padding: 20px;
        margin-bottom: 25px;
        border-radius: 10px;
        width: 529px;
        text-align: left;
        padding-left: 30px;
        border: 0.1rem solid #838383;
    }

    .form-control.text-area {
        width: 300px;
        height: 50px;
        max-height: 70px;
        max-width: 300px;
        white-space: pre-wrap;
        overflow-wrap: break-word;
    }

    .btn {
        margin-right: 20px;
    }

    #button-line {
        width: 528px;
        margin-left: -31px;
        margin-bottom: 20px;
        border-top: none;
        border-bottom: 0.1rem groove #b4b4b4;
        margin-top: 0px;
        padding-top: 10px;
        margin-bottom: 15px;
    }
</style>

<h2 id="h3">Delete Answer</h2>

<center>
    <div id="info-box">
        <dl class="dl-horizontal">

            <div style="margin-bottom: 5px;">
                <b>Course: </b> @Html.DisplayFor(model => model.Question.test.SubChapter.Chapter.Course.CourseName)
            </div>
            <div style="margin-bottom: 5px;">
                <b>Chapter: </b> @Html.DisplayFor(model => model.Question.test.SubChapter.Chapter.ChapterTitle)
            </div>
            <div style="margin-bottom: 5px;">
                <b>SubChapter: </b> @Html.DisplayFor(model => model.Question.test.SubChapter.SubchapterTitle)
            </div>
            <div style="margin-bottom: 5px;">
                <b>Question: </b> @Html.DisplayFor(model => model.Question.QuestionString)
            </div>

            <div style="margin-bottom: 5px;">
                <b>Answer Text: </b> @Html.DisplayFor(model => model.AnswerText)
            </div>
            <div style="margin-bottom: 5px;">
                @if (Model.IsCorrect)
                {
                    <b>The answer is correct</b>
                }
                else
                {
                    <b>The answer is incorrect</b>
                }

            </div>
            <div id="button-line"></div>
        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <center>
                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-danger" />
                    @Html.ActionLink("Abort", "Index", "Answer", new { questionId = Model.QuestionId }, new { @class = "btn btn-danger" })
                </div>
            </center>
        }
    </div>
</center>