<!DOCTYPE html>

<html>


<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - FastLearn</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


    <link rel="stylesheet" href="~/Scripts/ckeditor/plugins/codesnippet/lib/highlight/styles/default.css">
    <style>
        .active a {
            background: radial-gradient(circle at center, transparent, #1f1f21);
            color: blue;
        }

        body {
            background: url("https://static.vecteezy.com/system/resources/previews/001/911/467/large_2x/light-grey-paper-texture-background-free-photo.jpg");
            background-repeat: repeat;
        }

        navbar-brand.active {
            background: radial-gradient(circle at center, transparent, #1f1f21);
            color: blue;
        }
    </style>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" title="more options">
                    <span class="icon-bar"></span>
                </button>
                @if (User.IsInRole("professor"))
                {
                    <div class="@(ViewContext.RouteData.Values["Action"].ToString() == "GetUserCourses" ? "active" : "")">
                        @Html.ActionLink("FastLearn", "GetUserCourses", "Course", new { area = "" }, new { @class = "navbar-brand" })

                    </div>




                }
                else
                {
                    <div class="@(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">
                        @Html.ActionLink("FastLearn", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    </div>
                }


            </div>
            <li class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
                    {
                        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "GetInactiveCourses" ? "active" : "")">
                            @Html.ActionLink("InactiveCourses", "GetInactiveCourses", "Course")
                        </li>
                        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "UsersDetails" ? "active" : "")">
                            @Html.ActionLink("UserPanel", "UsersDetails", "Users")
                        </li>
                        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "SeeHelpingStudentApplicationsForAdmin" ? "active" : "")">
                            @Html.ActionLink("HelperRequests", "SeeHelpingStudentApplicationsForAdmin", "Users")
                        </li>
                    }

                    @if (User.Identity.IsAuthenticated && User.IsInRole("professor"))
                    {
                        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "GetUserInactiveCourses" ? "active" : "")">
                            @Html.ActionLink("InactiveCourses", "GetUserInactiveCourses", "Course")
                        </li>

                        <li class="@(ViewContext.RouteData.Values["Controller"].ToString() =="Course" && ViewContext.RouteData.Values["Action"].ToString()=="Create" ? "active" : "" )">
                            @Html.ActionLink("New Course", "Create", "Course")
                        </li>

                        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "SeeHelpingStudentApplicationsForProfessor" ? "active" : "")">
                            @Html.ActionLink("HelpingStudentRequests", "SeeHelpingStudentApplicationsForProfessor", "Users")
                        </li>

                    }

                    @if (User.Identity.IsAuthenticated && User.IsInRole("helping_student"))
                    {
                        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "GetStudentEnrolledCourses" ? "active" : "")">
                            @Html.ActionLink("MyCourses", "GetStudentEnrolledCourses", "Course")
                        </li>
                        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "GetStudentFinishedCourses" ? "active" : "")">
                            @Html.ActionLink("Archive", "GetStudentFinishedCourses", "Course")
                        </li>

                        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">
                            @Html.ActionLink("MyChats", "Index", "Chat")
                        </li>
                        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "GetHelpingStudentChats" ? "active" : "")">
                            @Html.ActionLink("HelpStudents", "GetHelpingStudentChats", "Chat")
                        </li>
                        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "GetChatRequests" ? "active" : "")">
                            @Html.ActionLink("ChatRequests", "GetChatRequests", "Chat")
                        </li>
                    }

                    @if (User.Identity.IsAuthenticated && User.IsInRole("student"))
                    {
                        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "GetStudentEnrolledCourses" ? "active" : "")">
                            @Html.ActionLink("MyCourses", "GetStudentEnrolledCourses", "Course")
                        </li>
                        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "GetStudentFinishedCourses" ? "active" : "")">
                            @Html.ActionLink("CourseArchive", "GetStudentFinishedCourses", "Course")
                        </li>
                        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Index" && ViewContext.RouteData.Values["Controller"].ToString() == "Chat" ? "active" : "")">
                            @Html.ActionLink("MyChats", "Index", "Chat")
                        </li>
                        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "YourHelpingStudentApplication" ? "active" : "")">
                            @Html.ActionLink("HelpingStudentApplication", "YourHelpingStudentApplication", "Users")
                        </li>

                    }
                    @if (User.Identity.IsAuthenticated)
                    {
                    <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Users" && ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">
                        @Html.ActionLink("Account", "Index", "Users")
                    </li>
                    }

                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "About" ? "active" : "")">
                        @Html.ActionLink("About", "About", "Home")
                    </li>
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Contact" ? "active" : "")">
                        @Html.ActionLink("Contact", "Contact", "Home")
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - FastLearn</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/ckeditor")
    @RenderSection("scripts", required: false)
</body>
</html>

