@model ProiectLicenta.Data.Models.HelpingStudentApplication

@{
    ViewBag.Title = "SupportHelpingStudentApplication";
}

<style>
    .form-horizontal {
        padding: 20px;
        border-radius: 5px;
        margin: auto;
    }

    .form-group {
        margin-bottom: 15px;
        padding-left: 10px;
    }

    .btn-default {
        background-color: #007bff;
        color: #fff;
        border: none;
        transition: background-color 0.2s ease;
    }

        .btn-default:hover {
            background-color: #0056b3;
        }

    #h3 {
        margin-top: 40px;
        text-align: center;
    }

    #info-box {
        background: #f8f9fa;
        padding: 20px;
        margin-bottom: 25px;
        border-radius: 20px;
        width: 55%;
        text-align: left;
        padding-left: 30px;
        border: 1px solid #b4b4b4;
        padding-bottom: 10px;
    }

    .btn {
        margin-right: 20px;
    }

    #button-line {
        width: auto;
        width: 603px;
        margin-left: -30px;
        margin-bottom: 20px;
        border-top: none;
        border-bottom: 0.1rem groove #b4b4b4;
    }
</style>

<h3 id="h3">Are you sure you want to approve this application?</h3>
<center>

    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal" }))
    {
        <div id="info-box">
            @Html.AntiForgeryToken()

            <div class="form-group">
                <b>Finished Courses Ids: </b>
                @Html.DisplayFor(model => model.FinishedCoursesIds)
            </div>

            <div class="form-group">
                <b>Student ID: </b>
                @Html.DisplayFor(model => model.StudentId)
            </div>

            <div class="form-group">
                <b>Professor ID: </b>
                @Html.DisplayFor(model => model.ProfessorId)
            </div>

            <div class="form-group">
                <b>Is Approved? </b>
                @Html.DisplayFor(model => model.IsApproved)
            </div>

            <div id="button-line"></div>

            <center>
                <div class="form-group" style="margin-top: 20px; margin-bottom: 10px;">
                    <input type="submit" value="Approve?" class="btn btn-default" />
                    @Html.ActionLink("Back to List", "SeeHelpingStudentApplicationsForAdmin", "Users", null, new { @class = "btn btn-danger", @style = "margin-right: 0px;" })
                </div>
            </center>
            @Html.HiddenFor(model => model.HelpingStudentApplicationId)
        </div>
    }

</center>
