@model ProiectLicenta.Data.Models.HelpingStudentApplication

@{
    ViewBag.Title = "SupportHelpingStudentApplication";
}

<h2>SupportHelpingStudentApplication</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>HelpingStudentApplication</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FinishedCoursesIds)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FinishedCoursesIds)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProfessorId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProfessorId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsApproved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsApproved)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.HiddenFor(model => model.HelpingStudentApplicationId)
            <input type="submit" value="Approve?" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>

