@model Proiect_Licenta.ViewModels.ChangeRoleViewModel

@{
    ViewBag.Title = "ChangeRole";
}

<style>
    .form-horizontal {
        padding: 20px;
        border-radius: 5px;
        margin: auto;
    }

    .form-group {
        margin-bottom: 15px;
    }

    .btn-default {
        background-color: #007bff;
        color: #fff;
        border: none;
        transition: background-color 0.2s ease;
    }

        .btn-default:hover {
            background-color: #0056b3;
        }

    #h3 {
        margin-top: 40px;
        text-align: center;
    }

    #info-box {
        background: #f8f9fa;
        padding: 20px;
        margin-bottom: 25px;
        border-radius: 20px;
        width: 55%;
        text-align: left;
        padding-left: 30px;
        border: 1px solid #b4b4b4;
    }

    .btn {
        margin-right: 20px;
    }
</style>

<h3 id="h3">You are about to change the role of the following user:</h3>

<center>
    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal" }))
    {
        <div id="info-box">
            @Html.AntiForgeryToken()

            <div class="form-group">
                <b>Email: </b>
                @Html.DisplayFor(model => model.Email)
            </div>

            <div class="form-group">
                <b>Current Role: </b>@Model.currentRole<br />
                <b>Possible Roles: </b>"admin", "student", "professor" or "helping_student"<br /><br />
                @Html.LabelFor(model => model.NewRole)<b>:</b>
                @Html.DropDownListFor(model => model.NewRole, new SelectList(Model.PossibleRoles), "Select a role", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.NewRole, "", new { @class = "text-danger" })
            </div>


        </div>
        <div class="form-group">
            <input type="submit" value="Change Role" class="btn btn-success" />
            @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
            {
                @Html.HiddenFor(model => model.UserId)
                @Html.HiddenFor(model => model.PossibleRoles)
                @Html.HiddenFor(model => model.currentRole)
                @Html.HiddenFor(model => model.Email)

                @Html.ActionLink("Abort", "UsersDetails", "Users", null, new { @class = "btn btn-danger" })
            }
        </div>
    }
</center>
