@model Proiect_Licenta.Models.UserData

@{
    ViewBag.Title = "Edit";
}

<style>
    #h3 {
        margin-top: 40px;
        text-align: center;
    }

    #info-box {
        background: #f8f9fa;
        padding: 20px;
        margin-bottom: 25px;
        padding-top:0px;
        padding-bottom: 0px;
        border-radius: 10px;
        width: 55%;
        text-align: left;
        padding-left: 30px;
        border: 1px solid #b4b4b4;
    }

    .btn {
        margin-right: 20px;
    }

    #button-line {
        width: auto;
        border-top: 1px groove #b4b4b4;
        width: 627px;
        margin-left: -51px;
        border-bottom: none;
        margin-bottom: 0px;
    }

    .form-group {
        margin-bottom: 10px;
        margin-top: 0px;
    }

    .btn-danger {
         margin-right: 0px;
    }
</style>>


<h2 id="h3">Edit Username</h2>
<center>
    <div id="info-box">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.UserDataId)
            @Html.HiddenFor(model => model.UserId)

            <div class="form-group">
                <b>Email: </b>
                @Html.DisplayFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
            </div>

            <div class="form-group">
                <b>Points: </b>
                @Html.DisplayFor(model => model.Points, new { htmlAttributes = new { @class = "form-control" } })
            </div>

            <div class="form-group">
                <b>Role: </b>
                @Html.DisplayFor(model => model.UserRole, new { htmlAttributes = new { @class = "form-control" } })
            </div>

            @Html.HiddenFor(model => model.Email)
            @Html.HiddenFor(model => model.EnrolledCourseId)
            @Html.HiddenFor(model => model.Points)
            @Html.HiddenFor(model => model.UserRole)
            @Html.HiddenFor(model => model.SuspendedUntil)
            @Html.HiddenFor(model => model.IsSuspended)
            @Html.HiddenFor(model => model.HelpingStudentApplicationId)

            <div id="button-line"></div>
            <div class="form-group" style="margin-bottom: 15px; margin-top: 15px;">
                <b>New Username: </b>
                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
            </div>

            <center>
                <input type="submit" value="Save" class="btn btn-success" />
                @Html.ActionLink("Abort", "Index", "Users", null, new { @class = "btn btn-danger" })
            </center>
        </div>
        }

        

    </div>
</center>
