@model ProiectLicenta.Data.Models.Warning

@{
    ViewBag.Title = "RemoveWarning";
}

<h2 class="text-left text-primary">Remove Warning</h2>

<style>
    .form-horizontal {
        background: #f8f9fa;
        padding: 20px;
        border-radius: 5px;
        margin: auto;
    }

        .form-horizontal h4 {
            color: #333;
        }

    .form-group {
        margin-bottom: 15px;
    }

    .dl-horizontal dt {
        width: 120px;
        float: left;
        clear: left;
        text-align: left;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .dl-horizontal dd {
        margin-left: 150px;
    }

    .btn-default {
        background-color: #007bff;
        color: #fff;
        border: none;
        transition: background-color 0.2s ease;
    }

        .btn-default:hover {
            background-color: #0056b3;
        }

    .back-link {
        margin-top: 20px;
        text-align: left;
    }
</style>

<h3 class="text-left">Are you sure you want to remove this warninig?</h3>
<div class="form-horizontal">

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.WarningReason)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WarningReason)
        </dd>
        @Html.HiddenFor(model => model.UserId)
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            <div class="col-md-10 text-left">
                <input type="submit" value="Remove Warning" class="btn btn-default" /> 

            </div>
        </div>
    }
</div>
@if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
{
    <li>@Html.ActionLink("Go Back to AdminPanel", "UsersDetails", "Users")</li>
}