@model IEnumerable<Proiect_Licenta.ViewModels.HelperApplicationViewModel>

@{
    ViewBag.Title = "SeeHelpingStudentApplicationsForProfessor";
}

<h2>Helper Applications</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FinishedCourses)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProfessorEmail)
        </th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @foreach (var course in item.FinishedCourses)
                {
                    <p>@course.CourseName</p>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentEmail)
            </td>
            <td>
                No professor supports this application yet.
            </td>
            <td>
                @Html.ActionLink("Support Application", "SupportHelpingStudentApplication", new { applicationId = item.HelpingStudentApplicationId })
            </td>
        </tr>
    }

</table>
