@model IEnumerable<Proiect_Licenta.ViewModels.HelperApplicationViewModel>

@{
    ViewBag.Title = "SeeHelpingStudentApplicationsForProfessor";
}

<h2>Helper Applications</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StudentEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProfessorEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FinishedCourses)
        </th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudentEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProfessorEmail)
            </td>
            <td>
                @if (item.FinishedCourses != null && item.FinishedCourses.Any())
                {
                    foreach (var course in item.FinishedCourses)
                    {
                        <p>@course.CourseName</p>
                    }
                }
                else
                {
                    <p>No Courses Finished</p>
                }
            </td>
            <td>
                @Html.ActionLink("Approve Application", "ApproveHelpingStudentApplication", new { applicationId = item.HelpingStudentApplicationId }) |
                @Html.ActionLink("Delete", "DeleteApplication", new { applicationId = item.HelpingStudentApplicationId })
            </td>
        </tr>
    }

</table>




