@model Proiect_Licenta.ViewModels.HelperApplicationViewModel

@{
    ViewBag.Title = "SupportHelpingStudentApplication";
}

<style>
    .form-horizontal {
        padding: 20px;
        border-radius: 5px;
        margin: auto;
    }

    .form-group {
        margin-bottom: 15px;
        margin-top: 15px;
    }

    .btn-default {
        background-color: #007bff;
        color: #fff;
        border: none;
        transition: background-color 0.2s ease;
    }

        .btn-default:hover {
            background-color: #0056b3;
        }

    #h3 {
        margin-top: 40px;
        text-align: center;
    }

    #info-box {
        background: #f8f9fa;
        padding: 20px;
        margin-bottom: 25px;
        padding-bottom: 0px;
        border-radius: 10px;
        width: 55%;
        text-align: left;
        padding-left: 30px;
        border: 1px solid #b4b4b4;
    }

    .btn {
        margin-right: 20px;
    }

    #button-line {
        width: auto;
        border-top: 1px groove #b4b4b4;
        width: 604px;
        margin-left: -31px;
        border-bottom: none;
        margin-bottom: 0px;
    }
</style>

<h3 id="h3">Are you sure you want to support this application?</h3>

<center>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div id="info-box">
            <div class="form-group">
                <b>No professor backs up this student. Do you know him?</b>
            </div>

            <div class="form-group">
                <b>@Html.DisplayNameFor(model => model.StudentEmail): </b>
                @Html.DisplayFor(model => model.StudentEmail)
            </div>

            <div class="form-group">
                <b>Finished Courses:</b>
                <ul>
                    @foreach (var course in Model.FinishedCourses)
                    {
                        <li>
                            @Html.ActionLink(@course.CourseName, "CourseSyllabus", "Course", new { courseId = course.CourseId }, new { @class = "btn btn-link" })
                        </li>
                    }
                </ul>
            </div>

            <center id="button-line">
                <div class="form-group">
                    <input type="submit" value="Support this student" class="btn btn-success" />
                    @Html.ActionLink("Abort", "SeeHelpingStudentApplicationsForProfessor", null, new { @class = "btn btn-danger" })
                </div>
            </center>
        </div>
    }
</center>
