@model Proiect_Licenta.Models.UserData

@{
    ViewBag.Title = "SuspendUser";
}


<style>
    .form-horizontal {
        padding: 20px;
        border-radius: 5px;
        margin: auto;
        align-content: center;
    }

    .form-group {
        margin-bottom: 15px;
    }


    .form-horizontal {
        padding: 20px;
        border-radius: 5px;
        margin: auto;
    }

    .form-group {
        margin-bottom: 15px;
    }

    .btn-default {
        background-color: #007bff;
        color: #fff;
        border: none;
        transition: background-color 0.2s ease;
    }

    .btn-default:hover {
        background-color: #0056b3;
    }

    #h3 {
        margin-top: 40px;
        text-align: center;
    }

    #info-box {
        background: #f8f9fa;
        padding: 20px;
        margin-bottom: 25px;
        border-radius: 20px;
        width: 55%;
        text-align: left;
        padding-left: 30px;
        border: 1px solid #b4b4b4;
    }

    .btn {
        margin-right: 20px;
    }

    #button-line {
        width: auto;
        width: 603px;
        margin-left: -30px;
        margin-bottom: 20px;
        border-top: 10px;
        border-bottom: 0.1rem groove #b4b4b4;
    }
</style>

<h3 id="h3">You are about to suspend the following user:</h3>


@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    <center>
        <div id="info-box">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.UserDataId)
            @Html.HiddenFor(model => model.UserId)


            <div>
                <b>Username:</b>
                @Html.DisplayFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>



            <div style="margin-top: 0px; margin-bottom: 15px;">
                <b>Email:</b>
                @Html.DisplayFor(model => model.UserRole, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UserRole, "", new { @class = "text-danger" })
            </div>

            <div id="button-line"></div>

            <div style=" margin-bottom: 15px;">
                <b>Choose the suspension end date.</b>
                @Html.EditorFor(model => model.SuspendedUntil, new { htmlAttributes = new { @class = "form-control", type = "datetime-local" } })
                @Html.ValidationMessageFor(model => model.SuspendedUntil, "", new { @class = "text-danger" })
            </div>

            <center>
                <div class="form-group" style="margin-bottom: 0px;">
                    <div>
                        @Html.HiddenFor(Model => Model.Email)
                        @Html.HiddenFor(Model => Model.UserRole)
                        <input style="margin-right:20px" type="submit" value="Suspend" class="btn btn-success" />
                        @Html.ActionLink("Abort", "UsersDetails", "Users", null, new { @class = "btn btn-danger" })
                    </div>

                </div>
            </center>
        </div>

    </center>
}

