@model IEnumerable<ProiectLicenta.Data.Models.Warning>

@{
    ViewBag.Title = "UserWarnings";
}

<h2 class="text-left text-primary">User Warnings</h2>

<style>
    .table {
        background: #f8f9fa;
        border-radius: 5px;
        margin: auto;
        margin-top: 20px;
    }

        .table th {
            color: #333;
        }

        .table td {
            vertical-align: middle;
        }

    .btn-default {
        background-color: #007bff;
        color: #fff;
        border: none;
        transition: background-color 0.2s ease;
    }

        .btn-default:hover {
            background-color: #0056b3;
        }

    .back-link {
        margin-top: 20px;
        text-align: left;
    }
</style>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.WarningReason)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.Email)
        </th>
        <th>
            @Html.Label("Actions")
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WarningReason)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Email)
            </td>
            <td>
                @Html.ActionLink("Remove Warning", "RemoveWarning", new { warningId = item.WarningId }, new { @class = "btn btn-default" })
            </td>
        </tr>
    }

</table>

<div class="back-link">
    <li>@Html.ActionLink("Back to AdminPanel", "UsersDetails", "Users")</li>
</div>