@model ProiectLicenta.Data.Models.SubChapter

@{
    ViewBag.Title = "Delete";
}


<style>
    .form-horizontal {
        padding: 20px;
        border-radius: 5px;
        margin: auto;
    }

    .form-group {
        margin-bottom: 15px;
    }

    .btn-default {
        background-color: #007bff;
        color: #fff;
        border: none;
        transition: background-color 0.2s ease;
    }

        .btn-default:hover {
            background-color: #0056b3;
        }

    #h3 {
        margin-top: 40px;
        text-align: center;
        margin-bottom: 30px;
    }

    #info-box {
        background: #f8f9fa;
        padding: 20px;
        margin-bottom: 25px;
        border-radius: 10px;
        width: 50%;
        text-align: left;
        padding-left: 30px;
        border: 0.1rem solid #838383;
    }

    .form-control.text-area {
        width: 300px;
        height: 50px;
        max-height: 70px;
        max-width: 300px;
        white-space: pre-wrap;
        overflow-wrap: break-word;
    }

    .btn {
        margin-right: 20px;
    }

    #button-line {
        width: 570px;
        margin-left: -31px;
        margin-bottom: 20px;
        border-top: none;
        border-bottom: 0.1rem groove #b4b4b4;
        margin-top: 0px;
        padding-top: 10px;
        margin-bottom: 15px;
    }
</style>


<h2 id="h3">Delete Subchapter</h2>
<center>
    <div id="info-box">
        @Html.HiddenFor(model => model.ChapterId)
        <dl class="dl-horizontal">

            <div style="margin-bottom: 5px;">
                <b>Course: </b> @Html.DisplayFor(model => model.Chapter.Course.CourseName)
            </div>

            <div style="margin-bottom: 5px;">
                <b>Chapter: </b> @Html.DisplayFor(model => model.Chapter.ChapterTitle)
            </div>

            <div style="margin-bottom: 10px;">
                <b>Subchapter: </b> @Html.DisplayFor(model => model.Chapter.ChapterTitle)
            </div>

            <div style="margin-bottom: 5px;">
                <b><u>All associated materials will be deteled as well.</u> </b></br>
                <b>To view this content, go to the previous page.</b>
            </div>

            <div id="button-line"></div>

        </dl>
        <center>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-danger" />
                    @Html.ActionLink("Abort", "Index", new { chapterId = Model.ChapterId }, new { @class = "btn btn-danger" })
                </div>
            }
        </center>
        <div>

        </div>
    </div>
</center>
