@model ProiectLicenta.Data.Models.SubChapter

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SubChapter</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SubchapterTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubchapterTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubchapterDescription)
        </dt>

        <dd>
            @Html.Raw(Model.SubchapterDescription)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SubchapterId }) |
</p>

<div>
    @Html.ActionLink("Back to SubChapter List", "Index", new { chapterId = Model.ChapterId })
</div>

@section scripts{
    <script src="~/Scripts/ckeditor/plugins/codesnippet/lib/highlight/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
}
