@model ProiectLicenta.Data.Models.SubChapter

@{
    ViewBag.Title = "View";
}

@section scripts{
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
    <script>
        CKEDITOR.replace('SubchapterDescription', {
            extraPlugins: 'codesnippet',
            codeSnippet_theme: 'default',
            toolbar: [
                { name: 'basicstyles', items: ['Bold', 'Italic', 'Underline', 'Strike'] },
                { name: 'styles', items: ['Format', 'Font', 'FontSize'] },
                { name: 'colors', items: ['TextColor', 'BGColor'] },
                { name: 'insert', items: ['Image', 'Table', 'HorizontalRule', 'CodeSnippet'] },
                { name: 'document', items: ['Print'] },
                { name: 'clipboard', items: ['Undo', 'Redo'] },
                '/',
                { name: 'paragraph', items: ['NumberedList', 'BulletedList', 'Outdent', 'Indent'] },
                { name: 'links', items: ['Link', 'Unlink', 'Anchor'] },
                { name: 'tools', items: ['Maximize', 'ShowBlocks'] }
            ],
        });
    </script>
}

<style>
    .form-horizontal {
        padding: 20px;
        border-radius: 5px;
        margin: auto;
    }

    .form-group {
        margin-bottom: 15px;
    }

    .btn-default {
        background-color: #007bff;
        color: #fff;
        border: none;
        transition: background-color 0.2s ease;
    }

        .btn-default:hover {
            background-color: #0056b3;
        }

    #h3 {
        margin-top: 40px;
        text-align: center;
        margin-bottom: 30px;
    }

    #info-box {
        background: #f8f9fa;
        padding: 20px;
        margin-bottom: 25px;
        border-radius: 10px;
        width: 90%;
        text-align: left;
        padding-left: 30px;
        border: 0.1rem solid #838383;
        padding-bottom: 0px;
    }

    .form-control.text-area {
        width: 300px;
        height: 50px;
        max-height: 70px;
        max-width: 300px;
        white-space: pre-wrap;
        overflow-wrap: break-word;
    }

    .btn {
        margin-right: 20px;
    }

    #button-line {
        width: 1026px;
        margin-left: -51px;
        margin-bottom: 20px;
        border-top: none;
        border-bottom: 0.1rem groove #b4b4b4;
        margin-top: 0px;
        padding-top: 10px;
        margin-bottom: 15px;
    }
</style>

<h2 id="h3">Edit Subchapter</h2>

<center>
    <div id="info-box">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal" style="padding-bottom: 0px;">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.SubchapterId)
            @Html.HiddenFor(model => model.ChapterId)

            <div class="form-group">
                <b>Title: </b>
                @Html.EditorFor(model => model.SubchapterTitle, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SubchapterTitle, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">

                <b>This is the subchapter number: </b>
                @Html.EditorFor(model => model.SubchapterNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SubchapterNumber, "", new { @class = "text-danger" })
            </div>

            <div class="form-group" style="padding-bottom: 0px;">
                <b>Subchapter content: </b>
                @Html.TextAreaFor(model => model.SubchapterDescription, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SubchapterDescription, "", new { @class = "text-danger" })
            </div>

            <div id="button-line"></div>

            <center class="form-group" >
                <input type="submit" value="Save Changes" class="btn btn-success" />
                @Html.ActionLink("Abort", "Index", new { chapterId = ViewData["chapterId"] }, new { @class ="btn btn-danger"} )
            </center>
        </div>
        <div>

        </div>

    }

    </div>
</center>
