@model IEnumerable<ProiectLicenta.Data.Models.SubChapterFiles>

@{
    ViewBag.Title = "GetFileList";
}

<h2>GetFileList</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UploadedDate)
        </th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UploadedDate)
            </td>

            @if (User.IsInRole("professor"))
            {
            <td>
                @Html.ActionLink("Delete", "DeleteFile", new { fileId = item.SubChapterFilesId })
            </td>
            }
        </tr>
    }


</table>
@foreach (var item in Model)
{
    using (Html.BeginForm("DownloadFile", "SubChapter", FormMethod.Get))
    {
        @Html.Hidden("fileName", item.FilePath)
        @Html.Hidden("subChapterId", item.SubChapterId)
        <button type="submit">@item.Title</button>
    }
}
<div>
    @Html.ActionLink("Back to SubChapter List", "Index", new { chapterId = (int)ViewData["chapterId"] })
</div>
