@model IEnumerable<ProiectLicenta.Data.Models.SubChapterFiles>

@{
    ViewBag.Title = "GetFileList";
}


<style>
    body {
        background-color: #f8f9fa;
    }

    #title {
        margin-top: 40px;
        text-align: center;
        margin-bottom: 20px;
    }

    .table {
        background-color: #E1E1E1;
        border-radius: 10px;
        overflow: hidden;
        border:none;
    }

        .table th {
            background-color: #4D4C4C;
            color: #fff;
        }

    .btn-default {
        background-color: #007bff;
        color: #fff;
        border: none;
        transition: background-color 0.2s ease;
    }

        .btn-default:hover {
            background-color: #0056b3;
        }

    .back-link {
        margin-top: 20px;
        text-align: center;
    }

    #username {
        padding-left: 15px;
    }


    #info-box {
        background: #dedede;
        padding: 20px;
        margin-bottom: 25px;
        border-radius: 10px;
        text-align: left;
        padding-left: 0px;
        padding-right: 0px;
        margin-top: 0px;
        padding-top: 0px;
        width: 80%;
        border: none;
    }

    .btn {
        margin-right: 15px;
    }

    #danger {
        width: 83.719px;
    }

    #button-line {
        width: auto;
        width: 912px;
        margin-left: 0px;
        margin-bottom: 20px;

        border-bottom: none;
        border-top: 0.1rem groove #b4b4b4;
    }
</style>
<center>
    <h2 id="h3" style="margin-bottom: 35px;">Files for subchapter: @ViewData["subchapterName"]</h2>
</center>
@if (Model != null && Model.ToList().Count > 0)
{
    <center>
        <div id="info-box">
            <div class="table-responsive">
                <table class="table table-hover" style="margin-top:0px;margin-bottom: 0px;">
                    <thead class="thead-dark">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Title)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.UploadedDate)
                            </th>
                            <th style="width:25%">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr style="border-top: 0.2rem groove;">
                                <td>
                                    @Html.DisplayFor(modelItem => item.Title)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UploadedDate)
                                </td>

                                <td>
                                    @if (User.IsInRole("professor"))
                                    {
                                        <div class="form-group">

                                            @using (Html.BeginForm("DownloadFile", "SubChapter", FormMethod.Get))
                                            {

                                                @Html.Hidden("fileName", item.FilePath)
                                                @Html.Hidden("subChapterId", item.SubChapterId)
                                                <button type="submit" class="btn btn-default">Download</button>
                                                @Html.ActionLink("Delete", "DeleteFile", new { fileId = item.SubChapterFilesId }, new { @class = "btn btn-danger btn-sm" })
                                            }

                                        </div>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <div id="button-line"></div>

            <div class="back-link">
                @Html.ActionLink("Add a file", "UploadFile", new { subchapterid = ViewData["subChapterId"] }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Back to SubChapter List", "Index", new { chapterId = (int)ViewData["chapterId"] }, new { @class = "btn btn-info" })
            </div>
        </div>
    </center>

}
else
{

    <center>

        <div id="info-box" style="border: 0.1rem groove #b4b4b4;">
            <center><h3 style="margin-top: 15px; padding-top: 5px; margin-bottom: 30px;"> This subchapter has no files.</h3></center>
            <center>
                <div class="back-link">
                    <div>
                        @Html.ActionLink("Add a file", "UploadFile", new { subchapterid = ViewData["subChapterId"] }, new { @class = "btn btn-primary" })
                        @Html.ActionLink("SubChapter List", "Index", new { chapterId = (int)ViewData["chapterId"] }, new { @class = "btn btn-info" })
                    </div>
                </div>
            </center>


        </div>
    </center>

}
