@model IEnumerable<ProiectLicenta.Data.Models.SubChapter>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "SubChapter Index";
}

<div class="container mt-3">
    <h2 class="text-left">SubChapter Index</h2>

    <div class="text-lext my-4">
        @Html.ActionLink("Add a new Subchapter", "Create", new { chapterId = ViewData["chapterId"] }, new { @class = "btn btn-primary" })
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.SubchapterTitle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SubchapterDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SubchapterNumber)
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubchapterTitle)
                        @Html.HiddenFor(modelItem => item.ChapterId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubchapterDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubchapterNumber)
                    </td>
                    <td>
                        @if (item.Chapter.Course.OwnerId == (string)ViewData["userId"])
                        {

                            @Html.ActionLink("Edit", "Edit", new { id = item.SubchapterId }, new { @class = "btn btn-link" }) <text> | </text>
                            @Html.ActionLink("Add a file", "UploadFile", new { subchapterid = item.SubchapterId }, new { @class = "btn btn-link" }) <text> | </text>
                            @Html.ActionLink("See Available Files", "GetFileList", new { subchapterId = item.SubchapterId }, new { @class = "btn btn-link" }) <text> | </text>
                            @Html.ActionLink("Details", "Details", new { id = item.SubchapterId }, new { @class = "btn btn-link" }) <text> | </text>
                            @Html.ActionLink("Delete", "Delete", new { id = item.SubchapterId }, new { @class = "btn btn-link" }) <text> | </text>
                        }
                        @Html.ActionLink("Go to test", "Index", "Test", new { subChapterId = item.SubchapterId }, new { @class = "btn btn-link" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
