@model IEnumerable<ProiectLicenta.Data.Models.SubChapter>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "SubChapter Index";
}


<style>
    body {
        background-color: #f8f9fa;
    }

    #title {
        margin-top: 40px;
        text-align: center;
        margin-bottom: 20px;
    }

    .table {
        background-color: #dedede;
        border-radius: 10px;
        overflow: hidden;
        border: 0.2rem thin #b4b4b4;
        margin-top: 20px;
        margin-top: 0px;
    }

        .table thead th {
            background-color: #4D4C4C;
            color: #fff;
        }


    .btn-group .btn {
        margin: 10px;
    }

    .form-button {
        display: inline-block;
        margin-right: 10px;
    }

    .btn {
        margin-right: 15px;
    }

    #chapterTitle {
        padding-left: 15px;
    }

    .form-horizontal {
        padding: 20px;
        border-radius: 5px;
        margin: auto;
    }

    .form-group {
        margin-bottom: 15px;
    }

    .btn-default {
        background-color: #007bff;
        color: #fff;
        border: none;
        transition: background-color 0.2s ease;
    }

        .btn-default:hover {
            background-color: #0056b3;
        }

    #h3 {
        margin-top: 40px;
        text-align: center;
        margin-bottom: 30px;
    }

    #info-box {
        background: #dedede;
        padding: 20px;
        margin-bottom: 25px;
        border-radius: 10px;
        text-align: left;
        padding-left: 0px;
        padding-right: 0px;
        margin-top: 0px;
        padding-top: 0px;
        width: 900px;
        border: none;
    }

    .btn {
        margin-right: 15px;
    }

    #danger {
        width: 83.719px;
    }

    #button-line {
        width: auto;
        width: 899px;
        margin-left: 0px;
        margin-bottom: 20px;
        border-top: none;
        border-bottom: 0.1rem groove #b4b4b4;
    }
</style>

<center>
    <h2 id="h3">SubChapters of the chapter @ViewData["chapterName"]</h2>
</center>

@if (Model != null && Model.ToList().Count > 0)
{

    <center>
        <div id="info-box">
            <div class="table-responsive">
                <table class="table table-hover" style="margin-bottom: 0px;">
                    <thead class="thead-dark">
                        <tr>
                            <th id="username">
                                @Html.DisplayNameFor(model => model.SubchapterTitle)
                            </th>
                            @if (User.IsInRole("admin"))
                            {
                                <th style="width:25%;">
                                    Actions
                                </th>
                            }
                            else
                            {
                                <th style="width:50%;">
                                    Actions
                                </th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr style="border-top: 0.2rem groove;">
                                <td id="username">
                                    @Html.DisplayFor(modelItem => item.SubchapterTitle)
                                    @Html.HiddenFor(modelItem => item.ChapterId)
                                </td>

                                <td>
                                    @if (item.Chapter.Course.OwnerId == (string)ViewData["userId"])
                                    {
                                        @Html.ActionLink("View", "ViewSubChapter", new { subchapterId = item.SubchapterId }, new { @class = "btn btn-info" })
                                        @Html.ActionLink("Edit", "Edit", new { id = item.SubchapterId }, new { @class = "btn btn-primary" })

                                        @Html.ActionLink("Delete", "Delete", new { id = item.SubchapterId }, new { @class = "btn btn-danger" })
                                        @Html.ActionLink("Files", "GetFileList", new { subchapterId = item.SubchapterId }, new { @class = "btn btn-info" })
                                        @Html.ActionLink("Test", "Index", "Test", new { subChapterId = item.SubchapterId }, new { @class = "btn btn-info" })

                                    }
                                    else
                                    {
                                        if (User.IsInRole("admin"))
                                        {
                                            @Html.ActionLink("View", "ViewSubChapter", new { subchapterId = item.SubchapterId }, new { @class = "btn btn-info" })
                                            @Html.ActionLink("Test", "Index", "Test", new { subChapterId = item.SubchapterId }, new { @class = "btn btn-info" })
                                            @Html.ActionLink("Files", "GetFileList", new { subchapterId = item.SubchapterId }, new { @class = "btn btn-info" })
                                        }
                                        else
                                        {
                                            <text> No actions permitted. </text>
                                        }
                                    }
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
                <div id="button-line"></div>
                @if ((string)ViewData["ownerId"] == (string)ViewData["userId"])
                {
                    <center>
                        @Html.ActionLink("Add a new Subchapter", "Create", new { chapterId = ViewData["chapterId"] }, new { @class = "btn btn-primary" })
                        @Html.ActionLink("Chapter List", "Index", "Chapter", new { courseId = (int)ViewData["courseId"] }, new { @class = "btn btn-info" })
                    </center>
                }
                else
                {<center>
                    @Html.ActionLink("Chapter List", "Index", "Chapter", new { courseId = (int)ViewData["courseId"] }, new { @class = "btn btn-info" })
                </center>
                }

            </div>
            </div>
    </center>
}
else
{
    <center>
        <div id="info-box" style="border: 0.1rem groove #b4b4b4;">
            <center><h3 style="margin-top: 15px; padding-top: 5px; margin-bottom: 20px;"> This chapter has no subchapters.</h3></center>
            <center>
                @if ((string)ViewData["ownerId"] == (string)ViewData["userId"])
                {
                    @Html.ActionLink("Add a new Subchapter", "Create", new { chapterId = ViewData["chapterId"] }, new { @class = "btn btn-primary" })
                }
                @Html.ActionLink("Back to chapter", "Index", "Chapter", new { courseId = (int)ViewData["courseId"] }, new { @class = "btn btn-primary" })
            </center>
        </div>
    </center>
}



@section scripts{
    <script src="~/Scripts/ckeditor/plugins/codesnippet/lib/highlight/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
}
