@model IEnumerable<ProiectLicenta.Data.Models.SubChapter>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Add a new Subchapter", "Create", new { chapterId = ViewData["chapterId"] })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SubchapterTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubchapterDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChapterId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SubchapterTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubchapterDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChapterId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.SubchapterId }) |
            @Html.ActionLink("Details", "Details", new { id = item.SubchapterId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.SubchapterId }) |
            @Html.ActionLink("Go to test", "Index", "Test", new { subChapterId = item.SubchapterId }, null)

        </td>
    </tr>
}

</table>
