@model IEnumerable<ProiectLicenta.Data.Models.SubChapter>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "SubChapter Index";
}

<div class="container mt-3">
    <h2 class="text-left">SubChapter Index</h2>
    @if ((string)ViewData["ownerId"] == (string)ViewData["userId"])
    {
        <div class="text-lext my-4">
            @Html.ActionLink("Add a new Subchapter", "Create", new { chapterId = ViewData["chapterId"] }, new { @class = "btn btn-primary" })
        </div>
    }

    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.SubchapterTitle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SubchapterDescription)
                </th>

                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubchapterTitle)
                        @Html.HiddenFor(modelItem => item.ChapterId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubchapterDescription)
                    </td>

                    <td>
                        @if (item.Chapter.Course.OwnerId == (string)ViewData["userId"])
                        {

                            @Html.ActionLink("Edit", "Edit", new { id = item.SubchapterId }, new { @class = "btn btn-link" }) <text> | </text>
                            @Html.ActionLink("Add a file", "UploadFile", new { subchapterid = item.SubchapterId }, new { @class = "btn btn-link" }) <text> | </text>
                            @Html.ActionLink("See Available Files", "GetFileList", new { subchapterId = item.SubchapterId }, new { @class = "btn btn-link" }) <text> | </text>
                            @Html.ActionLink("Details", "Details", new { id = item.SubchapterId }, new { @class = "btn btn-link" }) <text> | </text>
                            @Html.ActionLink("Delete", "Delete", new { id = item.SubchapterId }, new { @class = "btn btn-link" }) <text> | </text>
                            @Html.ActionLink("Add/View Test", "Index", "Test", new { subChapterId = item.SubchapterId }, new { @class = "btn btn-link" })
                        }
                        else
                        {


                            if (User.IsInRole("admin"))
                            {
                                @Html.ActionLink("Add/View Test", "Index", "Test", new { subChapterId = item.SubchapterId }, new { @class = "btn btn-link" })
                            }
                            else
                            {
                                <text> No actions permitted. </text>
                            }
                        }

                    </td>
                </tr>
            }

        </tbody>
    </table>
    @Html.ActionLink("Back to chapter", "Index", "Chapter", new { courseId = (int)ViewData["courseId"] }, new { @class = "btn btn-link" })
</div>

@section scripts{
    <script src="~/Scripts/ckeditor/plugins/codesnippet/lib/highlight/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
}
