@model ProiectLicenta.Data.Models.SubChapter

@{
    ViewBag.Title = "Details";
}

<style>
    body {
        background-color: #f8f9fa;
    }

    #title {
        margin-top: 40px;
        text-align: center;
        margin-bottom: 20px;
    }

    .table {
        background-color: #E1E1E1;
        border-radius: 10px;
        overflow: hidden;
        border: none;
    }

        .table th {
            background-color: #4D4C4C;
            color: #fff;
        }

    .btn-default {
        background-color: #007bff;
        color: #fff;
        border: none;
        transition: background-color 0.2s ease;
    }

        .btn-default:hover {
            background-color: #0056b3;
        }

    .back-link {
        margin-top: 20px;
        text-align: center;
    }

    #username {
        padding-left: 15px;
    }


    #info-box {
        background: #f8f9fa;
        padding: 20px;
        margin-bottom: 25px;
        border-radius: 10px;
        text-align: left;
        padding-left: 0px;
        padding-right: 0px;
        margin-top: 0px;
        padding-top: 0px;
        width: 613px;
        border-color: #b4b4b4;
        padding-bottom: 0px;
    }

    .btn {
        margin-right: 15px;
    }

    #danger {
        width: 83.719px;
    }

    #button-line {
        width: auto;
        width: 609px;
        margin-left: 0px;
        margin-bottom: 20px;
        border-bottom: none;
        border-top: 0.1rem groove #b4b4b4;
    }
</style>
<center>
    <h2 id="h3" style="margin-bottom: 35px;">Add a file for subchapter: @Model.SubchapterTitle</h2>
</center>

<center>
    <div id="info-box">
        @using (Html.BeginForm("UploadFile", "SubChapter", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {



            <div class="form-group" style=" margin-left: 20px; margin-top: 20px;">
                @Html.HiddenFor(model => model.SubchapterId)
                <b>Chapter: </b>
                @Html.DisplayFor(model => model.Chapter.ChapterTitle)
            </div>
            <div class="form-group"  style="margin-left: 20px;">
                <b>Subchapter: </b>
                @Html.DisplayFor(model => model.SubchapterTitle)
            </div>

            <div id="button-line"></div>

            <div class="form-group" style=" margin-left: 20px;">
                <b>Choose a new File: </b>

                <div class="form-group">

                    <input type="file" name="file" id="file" />
                </div>
                <center>
                    <button type="submit" class="btn btn-success">Upload File</button>
                    @Html.ActionLink("Abort", "GetFileList","Subchapter", new { subchapterId = Model.SubchapterId }, new { @class = "btn btn-danger" })
                </center>
            </div>
        }
    </div>
</center>




    
