@model ProiectLicenta.Data.Models.SubChapter

@{
    ViewBag.Title = "View SubChapter";
}

<h2>@Model.SubchapterTitle</h2>

<div>
    <h4>Subchapter</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SubchapterDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubchapterDescription)
        </dd>

        @foreach (var file in Model.SubchapterFiles)
        {
            using (Html.BeginForm("DownloadFile", "SubChapter", FormMethod.Get))
            {
                @Html.Hidden("fileName", file.FilePath)
                @Html.Hidden("subChapterId", file.SubChapterId)
                <button type="submit">@file.Title</button>
            }
        }

        @if (Model.Test != null)
        {
            <dt>
                Test
            </dt>
            if ((string)ViewData["IsCurrentSubchapter"] == "true")
            {
                <dd>
                    @Html.ActionLink("Start Test", "TakeTest", "Test", new { testId = Model.Test.TestId }, null)
                </dd>
            }
        }
    </dl>
</div>
<p>
    @if (User.Identity.IsAuthenticated && (string)ViewData["IsCurrentSubchapter"] == "true")
    {
        @Html.ActionLink("Open Chat", "Create", "Chat", new { subChapterId = Model.SubchapterId }, null) <text> | </text>
        @*
            @Html.ActionLink("See Files", "GetFileList", "SubChapter", new { subChapterId = Model.SubchapterId }, null)
        *@

    }
    @Html.ActionLink("Next SubChapter", "NextSubChapter", new { currentSubChapterId = Model.SubchapterId })
    @Html.ActionLink("Back to Course", "GetStudentEnrolledCourses", "Course")
</p>