@model ProiectLicenta.Data.Models.Chapter

<style>
    .dl-horizontal {
        text-align: left;
    }

    .btn {
        margin-right: 30px;
    }
</style>

@{
    ViewBag.Title = "Delete";
}

<h3 style="margin-top: 40px;text-align: center;">Are you sure you want to delete this chapter?</h3>
<div>
    <hr />

    <center>
        <div style="background: #f8f9fa; padding: 20px; margin-bottom: 25px; border-radius: 20px; width: 40%; text-align: left; padding-left: 30px; border: 1px solid #b4b4b4; ">
            <div>
                <b>@Html.DisplayNameFor(model => model.ChapterTitle):</b> @Html.DisplayFor(model => model.ChapterTitle)
            </div>
            <div>
                <b>@Html.DisplayNameFor(model => model.ChapterDescription):</b> @Html.DisplayFor(model => model.ChapterDescription)
            </div>
        </div>
    </center>

    <center>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-danger" />
                @Html.ActionLink("Abort", "Index", new { courseId = Model.CourseId }, new { @class = "btn btn-primary" })
            </div>
        }
    </center>
</div>
