@model ProiectLicenta.Data.Models.CourseReview

@{
    ViewBag.Title = "ActivateReview";
}

<style>
    .form-horizontal {
        padding: 20px;
        border-radius: 5px;
        margin: auto;
    }

    .form-group {
        margin-bottom: 15px;
        margin-top:15px;
    }

    .btn-default {
        background-color: #007bff;
        color: #fff;
        border: none;
        transition: background-color 0.2s ease;
    }

        .btn-default:hover {
            background-color: #0056b3;
        }

    #h3 {
        margin-top: 40px;
        text-align: center;
    }

    #info-box {
        background: #f8f9fa;
        padding: 20px;
        margin-bottom: 25px;
        padding-bottom:0px;
        border-radius: 10px;
        width: 55%;
        text-align: left;
        padding-left: 30px;
        border: 1px solid #b4b4b4;
    }

    .btn {
        margin-right: 20px;
    }

    #button-line {
        width: auto;
        border-top: 1px groove #b4b4b4;
        width: 627px;
        margin-left: -31px;
        border-bottom: none;
        margin-bottom: 0px;
    }
</style>

<h2 id="h3">Activate Review</h2>

<center>
    @using (Html.BeginForm())
    {
        <div id="info-box">
            @Html.AntiForgeryToken()

            @Html.HiddenFor(model => model.CourseReviewId)
            @Html.HiddenFor(model => model.UserId)
            @Html.HiddenFor(model => model.CourseId)
            @Html.HiddenFor(model => model.IsActive)

            <div class="form-group">
                <b>@Html.LabelFor(model => model.ReviewText): </b>
                @Html.DisplayFor(model => model.ReviewText, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ReviewText, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <b>@Html.LabelFor(model => model.Stars): </b>
                @Html.DisplayFor(model => model.Stars, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Stars, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <b>@Html.LabelFor(model => model.DeactivationReason): </b>

                @if(Model.DeactivationReason.IsEmpty())
                {
                <b>No reason provided.</b>
                }
                else{
                @Html.DisplayFor(model => model.DeactivationReason)
                }

                @Html.ValidationMessageFor(model => model.DeactivationReason, "", new { @class = "text-danger" })
            </div>

            <center id="button-line">
                <div class="form-group">
                    <input type="submit" value="Activate" class="btn btn-success" />
                    @Html.ActionLink("Abort", "Index", "CourseReview", new { courseId = Model.CourseId }, new { @class = "btn btn-danger" })
                </div>
            </center>
        </div>
    }
</center>
