@model ProiectLicenta.Data.Models.CourseReview

@{
    ViewBag.Title = "Edit Review";
}

<style>
    .form-horizontal {
        padding: 20px;
        border-radius: 5px;
        margin: auto;
    }

    .form-group {
        margin-bottom: 15px;
    }

    .btn-default {
        background-color: #007bff;
        color: #fff;
        border: none;
        transition: background-color 0.2s ease;
    }

        .btn-default:hover {
            background-color: #0056b3;
        }

    #h3 {
        margin-top: 40px;
        text-align: center;
        margin-bottom: 30px;
    }

    #info-box {
        background: #f8f9fa;
        padding: 20px;
        margin-bottom: 25px;
        border-radius: 10px;
        width: 55%;
        text-align: left;
        padding-left: 30px;
        border: 1px solid #b4b4b4;
        padding-bottom: 0px;
    }

    .form-control.text-area {
        width: 300px;
        height: 50px;
        max-height: 70px;
        max-width: 300px;
        white-space: pre-wrap;
        overflow-wrap: break-word;
    }

    .btn {
        margin-right: 20px;
    }

    #button-line {
        width: auto;
        width: 626px;
        margin-left: -30px;
        margin-bottom: 20px;
        border-top: none;
        border-bottom: 0.1rem groove #b4b4b4;
        margin-top: 0px;
        padding-top: 10px;
        margin-bottom: 15px;
    }
</style>

<h2 id="h3">Edit Review for @Html.DisplayFor(model => model.Course.CourseName)</h2>

<center>
    @using (Html.BeginForm())
    {
        <div id="info-box">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.CourseReviewId)
            @Html.HiddenFor(model => model.UserId)
            @Html.HiddenFor(model => model.CourseId)

            <div class="form-group" style="margin-left: 0px;margin-right: 0px;">
                <b>Review Text: </b>
                @Html.EditorFor(model => model.ReviewText, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ReviewText, "", new { @class = "text-danger" })
            </div>

            <div class="form-group" style="margin-left: 0px;margin-right: 0px;">
                <b>Stars: </b>
                @Html.EditorFor(model => model.Stars, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Stars, "", new { @class = "text-danger" })
            </div>

            <div id="button-line"></div>

            <center>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-success" />
                    @Html.ActionLink("Abort", "Index", new { courseId = Model.CourseId }, new { @class = "btn btn-danger" })
                </div>
            </center>

        </div>
    }
</center>
