@model IEnumerable<ProiectLicenta.Data.Models.CourseReview>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Add a new review", "Create", new { courseId = ViewData["courseId"] })
</p>
<table class="table">

    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ReviewText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stars)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stars)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CourseReviewId }) |
                @Html.ActionLink("Details", "Details", new { id = item.CourseReviewId }) |
                @Html.ActionLink("Deactivate Review", "DeactivateReview", new { id = item.CourseReviewId })
                @Html.ActionLink("Activate Review", "ActivateReview", new { id = item.CourseReviewId })
                @Html.ActionLink("Delete", "Delete", new { courseReviewId = item.CourseReviewId })
            </td>
        </tr>
    }

</table>
