@model Proiect_Licenta.Models.ChangePasswordViewModel

@{
    ViewBag.Title = "Change Password";
}

<style>
    .form-horizontal {
        padding: 20px;
        border-radius: 5px;
        margin: auto;
    }

    .form-group {
        margin-bottom: 15px;
    }

    .btn-default {
        background-color: #007bff;
        color: #fff;
        border: none;
        transition: background-color 0.2s ease;
    }

        .btn-default:hover {
            background-color: #0056b3;
        }

    #h3 {
        margin-top: 40px;
        text-align: center;
    }

    #info-box {
        background: #f8f9fa;
        padding: 20px;
        margin-bottom: 25px;
        border-radius: 20px;
        width: 55%;
        text-align: left;
        padding-left: 30px;
        border: 1px solid #b4b4b4;
        padding-bottom: 0px;

    }

    .form-control.text-area {
        width: 300px;
        height: 50px;
        max-height: 70px;
        max-width: 300px;
        white-space: pre-wrap;
        overflow-wrap: break-word;
    }

    .btn {
        margin-right: 20px;
    }

    #button-line {
        width: auto;
        width: 604px;
        margin-left: -30px;
        margin-bottom: 20px;
        border-top: none;
        border-bottom: 0.1rem groove #b4b4b4;
        margin-top: 0px;
        padding-top: 10px;
        margin-bottom: 15px;
    }
</style>
<h2 id="h3">Reset Password</h2>

<center>
    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        <div id="info-box">
            @Html.AntiForgeryToken()

            <div class="form-group" style="margin-left: 0px;margin-right: 0px;">
                <b>Old Password: </b>
                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
            </div>

            <div class="form-group" style="margin-left: 0px;margin-right: 0px;">
                <b>New Password: </b>
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
            </div>

            <div class="form-group" style="margin-left: 0px;margin-right: 0px;">
                <b>Confirm Password: </b>
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
            </div>

            <div id="button-line"></div>

            <center>
                <div class="form-group">
                    <input type="submit" value="Change Password" class="btn btn-success" />
                </div>
            </center>
        </div>
    }
</center>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}