@model ProiectLicenta.Data.Models.Chat

@{
    ViewBag.Title = "Chat Details";
}

<style>
    .form-horizontal {
        padding: 20px;
        border-radius: 5px;
        margin: auto;
    }

    .form-group {
        margin-bottom: 15px;
        margin-top: 15px;
    }

    .btn-default {
        background-color: #007bff;
        color: #fff;
        border: none;
        transition: background-color 0.2s ease;
    }

        .btn-default:hover {
            background-color: #0056b3;
        }

    #h3 {
        margin-top: 40px;
        text-align: center;
    }

    #info-box {
        background: #f8f9fa;
        padding: 20px;
        margin-bottom: 25px;
        padding-bottom: 0px;
        border-radius: 10px;
        width: 55%;
        text-align: left;
        padding-left: 30px;
        border: 1px solid #b4b4b4;
    }

    .btn {
        margin-right: 20px;
    }

    #button-line {
        width: auto;
        border-top: 1px groove #b4b4b4;
        width: 604px;
        margin-left: -31px;
        border-bottom: none;
        margin-bottom: 0px;
    }
</style>

<h2 id="h3">Leave the chat:</h2>
<center>

    @using (Html.BeginForm("LeaveChat", "Chat", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        <div id="info-box">
            @Html.AntiForgeryToken()

            <div class="form-group">
                <b>Topic: </b>
                @Html.DisplayFor(model => model.Topic)
            </div>

            <div class="form-group">
                <b>Student: </b>
                @Html.DisplayFor(model => model.Student.Email)
            </div>

            <div class="form-group">
                <b>Helping Student: </b>
                @if (Model.HelpingStudent != null)
                {
                    <div>@Model.HelpingStudent.Email</div>
                }
                else
                {
                    <div>No Student Found</div>
                }
            </div>

            @Html.HiddenFor(model => model.ChatId)
            @Html.HiddenFor(model => model.Student)
            @Html.HiddenFor(model => model.HelpingStudent)
            @Html.HiddenFor(model => model.Topic)
            @Html.HiddenFor(model => model.SubChapter)

        <div class="form-group">
            <b>You are about to leave this chat.</b>
        </div>

            <center id="button-line">
                <div class="form-group">
                    <input type="submit" value="Leave" class="btn btn-danger" />
                    @Html.ActionLink("Abort", "GetHelpingStudentChats","Chat", null, new { @class = "btn btn-danger" })
                </div>
            </center>
        </div>
    }

</center>
