@model ProiectLicenta.Data.Models.Chat

@{
    ViewBag.Title = "Chat Details";
}

<h2>Chat Details</h2>

<div>
    <h4>@Model.Topic</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Topic:</dt>
        <dd>@Model.Topic</dd>
        <dt>Student:</dt>
        <dd>@Model.Student.Email</dd>
        <dt>Helping Student:</dt>
        @if (Model.HelpingStudent != null)
        {
            <dd>@Model.HelpingStudent.Email</dd>
        }
        else
        {
            <dd>No Student Found</dd>
        }
    </dl>
</div>

@using (Html.BeginForm("LeaveChat", "Chat", FormMethod.Post))
{
    @Html.HiddenFor(model => model.ChatId)
    @Html.HiddenFor(model => model.Student)
    @Html.HiddenFor(model => model.HelpingStudent)
    @Html.HiddenFor(model => model.Topic)
    @Html.HiddenFor(model => model.SubChapter)
    <p>
        Do you wish to no longer help this student?
    </p>

    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-primary" />
    </div>
}