@model ProiectLicenta.Data.Models.Chat

<h2>@Model.Topic</h2>

<div class="chat-container">
    @if (Model.ChatMessages != null && Model.ChatMessages.Count > 0)
    {
        foreach (var message in Model.ChatMessages.OrderBy(m => m.TimeStamp))
        {
            <div class="chat-message @Html.Raw(message.UserId == Model.StudentId ? "student" : "helping-student")">
                <div class="chat-message-user">@Html.Raw(message.UserId == Model.StudentId ? Model.Student.UserName : Model.HelpingStudent.UserName)</div>
                <div class="chat-message-content">@message.MessageContent</div>
                <div class="chat-message-time">@message.TimeStamp.ToString("g")</div>
            </div>
        }
    }
    else
    {
        <h4>No chat history.</h4>
    }
</div>

<div class="new-message-container">
    @using (Html.BeginForm("AddMessage", "Message", FormMethod.Post))
    {
        @Html.HiddenFor(model => model.ChatId)
        <div class="form-group">
            @Html.TextBox("newMessage", null, new { @class = "form-control", placeholder = "Type your message..." })
        </div>
        <div class="form-group">
            <input type="submit" value="Send" class="btn btn-primary" />
        </div>
    }
</div>