@model ProiectLicenta.Data.Models.Test

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Test Index";
}


<style>
    body {
        background-color: #f8f9fa;
    }

    #title {
        margin-top: 40px;
        text-align: center;
        margin-bottom: 20px;
    }

    .table {
        background-color: #dedede;
        border-radius: 10px;
        padding-left: 0px;
        overflow: hidden;
        border: 0.2rem thin #b4b4b4;
        margin-top: 0px;
    }

        .table thead th {
            background-color: #4D4C4C;
            color: #fff;
        }


    .btn-group .btn {
        margin: 10px;
    }

    .form-button {
        display: inline-block;
        margin-right: 10px;
    }

    .btn {
        margin-right: 15px;
    }

    #chapterTitle {
        padding-left: 15px;
    }

    .form-horizontal {
        padding: 20px;
        border-radius: 5px;
        margin: auto;
    }

    .form-group {
        margin-bottom: 15px;
    }

    .btn-default {
        background-color: #007bff;
        color: #fff;
        border: none;
        transition: background-color 0.2s ease;
    }

        .btn-default:hover {
            background-color: #0056b3;
        }

    #h3 {
        margin-top: 40px;
        text-align: center;
        margin-bottom: 30px;
    }

    #info-box {
        background: #dedede;
        padding: 20px;
        margin-bottom: 25px;
        border-radius: 10px;
        text-align: left;
        padding-left: 0px;
        padding-right: 0px;
        margin-top: 0px;
        padding-top: 0px;
        width: 600px;
         padding-bottom: 0px;
        
    }

    .btn {
        margin-right: 15px;
    }

    #danger {
        width: 83.719px;
    }

    #button-line {
        width: auto;
        width: 598px;
        margin-left: 0px;
        margin-bottom: 20px;
        border-top: none;
        border-bottom: 0.1rem groove #b4b4b4;
    }
</style>

<h2 id="h3">Test</h2>



@if (Model != null)
{
    <center>
        <div id="info-box">


            <div class="form-group" style="margin-left: 20px;margin-right: 0px;margin-top: 20px;">
                <b>Course: </b>
                @Html.DisplayFor(model => model.SubChapter.Chapter.Course.CourseName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SubChapter.Chapter.Course.CourseName, "", new { @class = "text-danger" })
            </div>


            <div class="form-group" style="margin-left: 20px;">
                <b>Chapter: </b>
                @Html.DisplayFor(model => model.SubChapter.Chapter.ChapterTitle, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SubChapter.Chapter.ChapterTitle, "", new { @class = "text-danger" })
            </div>


            <div class="form-group" style="margin-left: 20px;">
                <b>Subchapter: </b>
                @Html.DisplayFor(model => model.SubChapter.SubchapterTitle, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SubChapter.SubchapterTitle, "", new { @class = "text-danger" })
            </div>

            <div class="form-group" style="margin-left: 20px;margin-right: 0px;margin-top: 20px;">
                <b>Test Description: </b>
                @Html.DisplayFor(model => model.TestDescription, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TestDescription, "", new { @class = "text-danger" })
            </div>

            <div class="form-group" style="margin-left: 20px;">
                <b>Minimum score: </b>
                @Html.DisplayFor(model => model.MinimumScore, new { htmlAttributes = new { @class = "form-control text-area" } })/100
                @Html.ValidationMessageFor(model => model.MinimumScore, "", new { @class = "text-danger" })
            </div>
            <div id="button-line"></div>
            <center>
                <div class="form-group" style=" margin-top: 15px; ">
                    @if (Model.SubChapter.Chapter.Course.OwnerId == (string)ViewData["userId"])
                    {
                        @Html.ActionLink("Edit", "Edit", new { subChapterId = ViewData["subChapterId"] }, new { @class = "btn btn-info" })
                        @Html.ActionLink("Delete", "Delete", new { subChapterId = ViewData["subChapterId"] }, new { @class = "btn btn-danger" })
                    }
                    @if (Model != null)
                    {

                        @Html.ActionLink("Questions", "Index", "Question", new { testId = Model.TestId }, new { @class = "btn btn-info" })
                    }
                    @Html.ActionLink("To Subchapter", "Index", "SubChapter", new { chapterId = ViewData["chapterId"] }, new { @class = "btn btn-info" })
                </div>

            </center>
        </div>
    </center>
}
else
{
    <center>
        <div id="info-box" style="border: 0.1rem groove #b4b4b4;">
            <center><h3 style="margin-top: 15px; padding-top: 5px; margin-bottom: 20px;"> No test defined.</h3></center>
            <center>
                @if ((string)ViewData["ownerId"] == (string)ViewData["userId"])
                {
                    @Html.ActionLink("Add Test", "Create", new { subChapterId = ViewData["subChapterId"] }, new { @class = "btn btn-primary" ,@style = "margin-bottom: 15px;" })
                    @Html.ActionLink("Abort", "Index", "SubChapter", new { chapterId = ViewData["chapterId"] }, new { @class = "btn btn-info", @style = "margin-right: 0px; margin-bottom: 15px;" })
                }
            </center>


        </div>
    </center>
}