@model ProiectLicenta.Data.Models.Test

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <h4>Test</h4>
    <p>
        @Html.ActionLink("Add Test", "Create", new { subChapterId = ViewData["subChapterId"] })
       
    </p>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MinimumScore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MinimumScore)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TestDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TestDescription)
        </dd>

        <dd>
            @Html.ActionLink("Edit", "Edit", new { subChapterId = ViewData["subChapterId"] }) |

            @Html.ActionLink("Delete", "Delete", new { subChapterId = ViewData["subChapterId"] }) |
            @Html.ActionLink("Back to subChapter", "Index", "SubChapter", new { chapterId = ViewData["chapterId"] }, null) |
            @if (Model != null)
            {
                @Html.ActionLink("Questions", "Index", "Question", new { testId = Model.TestId }, null)
                @Html.ActionLink("TakeTest", "TakeTest", new { testId = Model.TestId }) 
}

        </dd>

    </dl>
</div>
